.banner {
    border-bottom: 33px $brand1 solid;
    background-position: center center;
    .banner-content {
        background: rgba(64, 64, 64, .77);
        padding: 0 $contentMarginWide;
    }
    h1 {
        line-height: 1.1;
        color: #FFF;
        padding: 32px 0;
        @include text-shadow( #000 1px 1px 0 );
        margin: 0;
    }
}

.carousel-inner {
    .item {
        height: 389px;
        border-bottom: 33px $brand1 solid;
        background-position: center center;
    }
    .banner-content {
        background: rgba(64, 64, 64, .77);
        padding: 0 $contentMarginWide;
        position: absolute;
        bottom: 0;
    }
    h1 {
        display: table-cell;
        margin: 0 10% 0 0;
        line-height: 1.1;
        color: #FFF;
        @include text-shadow( #000 1px 1px 0 );
        padding: 32px 0;
        vertical-align: middle;
    }
    .summary {
        display: table-cell;
        vertical-align: middle;   
        p {
            margin: 20px 0;
            color: #FFF;
            padding: 0 20px;
        }
    }
    h1 a, .summary a {
        color: #FFF;
        text-decoration: none;
        &:hover { color: #EEE; }
    }
    .next-button {
        display: table-cell;
        text-align: right;
        vertical-align: middle;
        
        a {
            @include inline-block();
            text-align: center;
            width: 79px;
            height: 79px;
            line-height: 69px;
            background: $brand2;
            color: #FFF;
            font-family: $headingFontFamily;
            font-size: 50px;
            cursor: pointer;
            &:hover { text-decoration: none; }
        }
    }
    
    @include lessthan( 768px ) {
        h1, .summary { display: block; margin-right: 50px; }
        h1 {
            padding-bottom: 15px;
        }
        .summary p {
            padding: 0 0 32px 0;
            margin: 0;
        }
        .next-button {
            display: block;
            float: none;
            position: absolute;
            right: 9%;
            top: 32px;
            a {
                font-size: 30px;
                line-height: 34px;
                width: 40px;
                height: 40px;
            }
        }
    }
}

.page-banner {
    @extend .banner;
    .banner-content {
        @include inline-block();
    }
}