
body {
    color: $bodyColor;
    font-size: 15px;
    font-family: 'myriad-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    //font-weight: 300;
    line-height: 1.65;
}

a { 
    color: $brand1; 
    text-decoration: none; 
}

p { margin: 0 0 25px 0; }

h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
}

.container {
    max-width: $contentWidth;
    margin: 0 auto;
}

.tk {
    font-family: "bebas-neue";
}

.main { @extend .container; }

.content {
    padding: $contentPadding;
    @include background( rgba( 0, 0, 0, .1 ) image-url( "content-bg.png" ) );
}

.down-arrow-black {
    position: absolute;
    background-image: url(../img/down-arrow-black.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 24px;
    height: 12px;
}

.entry-title {
    @extend .tk;
    line-height: 1;
    border-top: 3px solid #000;
    padding: 18px 0 14px 0;
    margin-bottom: 33px;
    position: relative;
    h1 {
        font-size: 47px;
        color: #000;
    }
    h2 {
        margin-top: 1px;
        font-size: 30px;
        color: $bodyColor; 
    }
    .down-arrow-black {
        width: 100%;
        background-position: 2.75% 0;
        border-top: 3px solid #000;
        bottom: -15px;
    }
}

.page {
    h3 {
        @extend .tk;
        line-height: 1;
        color: $brand1;
        font-size: 23px;
        margin-bottom: 10px;
    }
}