
body {
    color: $bodyColor;
    font-size: 15px;
    font-family: 'myriad-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    //font-weight: 300;
    line-height: 1.65;
    background: url(../img/bg.png) top left no-repeat;
}

::-moz-selection { background: $brand1; color: #fff; text-shadow: none; }
::selection { background: $brand1; color: #fff; text-shadow: none; }

a { 
    color: $brand1; 
    text-decoration: none; 
}

p { 
    margin: 0;
    padding: 0 0 25px 0; 
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
}

.container {
    max-width: $contentWidth;
    margin: 0 auto;
}

.tk {
    font-family: "bebas-neue";
}

.main { 
    @extend .container; 
    &.with-side-image {
        background: rgba(0,0,0,.1);
    }
}

.ie7 .main.with-side-image, .ie8 .main.with-side-image {
    background: url(../img/content-bg.png) top left repeat;
}

.content {
    background: #e5e5e5;
    padding: $contentPadding;
}

.with-side-image {
    .content {
        padding: 0 0 0 206px;
        margin: $contentPadding;
        background: #e5e5e5 url(../img/side-image.png) center left no-repeat;
    }
}

.down-arrow-black {
    position: absolute;
    background-image: url(../img/down-arrow-black.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 24px;
    height: 12px;
}

.entry-title {
    @extend .tk;
    line-height: 1;
    border-top: 3px solid #000;
    padding: 18px 0 14px 0;
    margin-bottom: 33px;
    position: relative;
    h1 {
        font-size: 47px;
        color: #000;
    }
    h2 {
        margin-top: 1px;
        font-size: 30px;
        color: $bodyColor; 
    }
    .down-arrow-black {
        width: 100%;
        background-position: 2.75% 0;
        border-top: 3px solid #000;
        bottom: -15px;
    }
}

.emphasis {
    background: #d8d8d8;
    padding: 15px 20px 2px 20px;
    margin: -10px 0 25px 0;
    p { padding: 0 0 13px 0; }
    ul {
        float: left;
        font-size: 13px;
        padding-bottom: 15px;
        padding-right: 35px;
        li {
            list-style: disc inside;
        }
    }
}

.entry-content {
    h2 {
        @extend .tk;
        line-height: 1;
        color: $brand1;
        font-size: 28px;
        border-bottom: 3px solid #000;
        padding-bottom: 8px;
        margin-bottom: 28px;
    }
    h3 {
        @extend .tk;
        line-height: 1;
        color: $brand1;
        font-size: 23px;
        margin-bottom: 10px;
    }
    h4 {
        color: $brand1;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .align-right {
        float: right;
        padding-left: 25px;
    }
    .align-left {
        float: left;
        padding-right: 25px;
    }
}

blockquote {
    margin: 0;
    font-style: italic;
    p {
        padding: 0 0 15px 0;
    }
}

label {
    @extend .tk;
    color: $brand1;
    font-size: 20px;
    line-height: 1;
    display: block;
    background: #000 url(../img/down-arrow-grey.png) top right no-repeat;
    padding: 5px 0 2px 12px;
}