// Variables

$brand1: #007db4;
$brand2: #b3af16;

$fontSize: 16px;
$fontFamily: 'Varela', Helvetica, Arial, sans-serif;
$headingFontFamily: 'Oswald', Helvetica, Arial, sans-serif;
$headingColor: #626262;
$bodyColor: #858585;
$linkColor: $brand1;
$linkHoverColor: $linkColor + #222;

$activeMenuBg: #f0f0f0;

$contentMarginWide: 9%;