// Variables

$brand1: #AA4BA4;
$fontSize: 14px;
$fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyColor: #999;
$linkColor: $brand1 - #222;
$linkHoverColor: $linkColor - #222;
$defaultBorderColor: #888;