.contact-fields {
    li {
        float: left;
        width: 49%;
        margin-right: 2%;
        margin-bottom: 15px;
        &.even {
            margin-right: 0;
        }
        &.full {
            width: 100%;
            margin-right: 0;
        }
    }
    label {
        margin-bottom: 3px;
    }
    input, textarea {
        background: #ccc;
        border: 0;
    }
    input { 
        height: 33px; 
        width: 96%;
        padding: 0 2%;
    }
    textarea { 
        width: 98%;
        padding: 1%;
        height: 147px;
    }
}
input.wpcf7-submit {
    @extend .tk;
    line-height: 1;
    float: right;
    width: 195px;
    height: 32px;
    padding: 6px 0 2px 0;
    border: 0;
    background: #000;
    color: #FFF;
    font-size: 20px;
}