
header {
    text-align: center;
    padding-bottom: 14px;
    #logo { 
        @include inline-block(); 
        margin: 13px 0 12px 0;
    }
    nav { 
        @extend .container; 
    }
}

ul.menu {
    font-size: 20px;
    line-height: 1;
    background: url(../img/nav-bg.png) center left repeat;
    height: 31px;
    li {
        @include inline-block(); 
        padding: 5px 6px 0 6px;
        a {
            @extend .tk;
            color: $bodyColor; 
            text-transform: uppercase; 
            &:hover { color: $brand1; }
        }
        &.current-menu-item {
            a { color: $brand1; }
        }
        &.has-sub-menu {
            position: relative;
        }
    }
    ul.sub-menu {
        z-index: 1;
        display: none;
        position: absolute;
        text-align: left;
        top: 45px;
        left: 0;
        background: url(../img/dropdown.png) top left no-repeat;
        width: 212px;
        height: 82px;
        padding-top: 10px;
        a { 
            color: #7f7f7f;
            &:hover { color: $brand1; }
        }
        li { 
            display: block; 
            padding: 2px 0 2px 19px;
        }
    }
}