.services {
    font-size: 0;
    li {
        @include inline-block();
        @extend .tk;
        line-height: 1.1;
        font-size: 24px;
        width: 32.33%;
        margin-left: 1.5%;
        cursor: pointer;
        &:first-child {
            margin-left: 0;   
        }
    }
    label { margin-bottom: 13px; }
    a { color: #919191; }
}

.slideshow-button {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 121px;
    height: 52px;
    width: 38px;
    background-image: url(../img/slideshow-buttons.png);
    background-repeat: no-repeat;
    &#sd-next {
        right: 0;
        background-position: -38px 0;
        &:hover { background-position: -38px 100%; }
    }
    &#sd-prev {
        left: 0;
        background-position: 0 0;
        &:hover { background-position: 0 100%; }
    }
}

.slideshow {
    @extend .container;
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    
    ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    li {
        position: relative;
        @include inline-block();
        height: 295px;
        max-width: 100%;
        img { max-width: 100%; }
        .service-content {
            position: absolute;
            top: 100px;
            width: 100%;
        }
        h2, h3 {
            @extend .tk;
            text-align: center;
            color: #FFF;
            line-height: 1;
        }
        h2 { font-size: 82px; }
        h3 { font-size: 27px; }
    }
}