.keynote-topics {
    @extend .tk;
    font-size: 28px;
    line-height: 1;
    ul {
        float: left;
        padding-right: 27px;
        li {
            list-style: disc inside;
            padding-bottom: 20px;
        }
        @include respond-to( 'max-width: 540px' ) {
            padding-right: 27px;
        }
    }
    @include respond-to( 'max-width: 870px' ) {
        font-size: 18px;
    }
}