.keynote-topics {
    @extend .tk;
    font-size: 28px;
    float: left;
    line-height: 1;
    ul {
        float: left;
        padding-right: 27px;
        li {
            list-style: disc inside;
            padding-bottom: 20px;
        }
    }
}