ul.menu {
    li { 
        @include inline-block(); 
        &.current-menu-item {
            text-decoration: underline;
        }
        &.has-sub-menu:before {
            content: '\25bc';
            font-size: 12px;
        }
    }
    ul.sub-menu {
        display: none;
        position: absolute;
        li { display: block; }
    }
}