
.slideshow {
	height: $slideshowHeight;
	overflow: hidden;
	position: relative;
	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		@include bodyWidth();
		li {
			width: 100%;
			img { width: 100%; }
        	&.slideTransition {
        	    transition: all .5s ease-in-out;
        	    -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
                -moz-transition: all .5s ease-in-out; /** Firefox **/
                -o-transition: all .5s ease-in-out; /** Opera **/
        	}
		}
	}
}