html, body { height: 100%; }

body {
	background: #f6f6f6;
	color: $bodyColor;
	#page {

	}
}

a {
	color: $linkColor;
	text-decoration: none;
	&:hover { color: $linkHoverColor; }
}

em { font-style: normal; }

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

::-moz-selection{
    background:$eatscolor; color:#FFF
}
::selection{
    background:$eatscolor; color:#FFF
}

#page {
    max-width: $bodyWidth; // width of the two portfolio navigation widgets
    margin: 0 auto;
}

.container {
	@include bodyWidth();
	margin: 0 auto;
	position: relative;
}

header {
    height: 55px;
    position: relative;
    margin-bottom: -2px;
    background: url(../img/header-bg.png) top left no-repeat;
    z-index: 1;
    .header-rt {
        position: absolute;
        right: 0;
        top: 0;
        width: 14px;
        height: 55px;
        background: url(../img/header-bg-rt.png) top center no-repeat;
    }
    nav { width: 50%; }
    nav.main {
        float: left;
        position: relative;
        z-index: 1;
        a {
            @include inline-block();
            font-size: 16px;
            text-transform: uppercase;
            color: $brand6;
            margin-left: 27px;
            padding: 12px 0 8px 0;
            cursor: pointer;
            &.categories {
                background: url(../img/yellow-arrow.png) bottom center no-repeat;
            }
        }
    }
    ul.cat-dropdown {
        position: absolute;
        left: 7px;
        top: 55px + 5px;
        display: none;
        li {
            margin-bottom: 2px;
            padding: 0 10px 0 0;
            background: #393939;
            a {
                background: #393939;
                display: block;
                font-size: 14px;
                padding: 0 18px 0 18px;
                line-height: 20px;
                margin: 0;
                &.eats { color: $eatscolor; }
                &.i-lost-my-head { color: $lmhcolor; }
                &.other { color: $workcolor; }
                &:hover { background: #FFF; }
            }
            &:hover {
                background: url(../img/nav-bg.png) top right no-repeat;
            }
        }
    }
    nav.social {
        float: right;
        text-align: right;
        line-height: 21px;
        margin-top: 14px;
        font-size: 0;
        a {
            @include inline-block();
            height: 21px;
            background-image: url(../img/social-icons.png);
            background-repeat: no-repeat;
            margin-right: 15px;
            &.instagram {
                width: 19px;
                background-position: 0 0;
                &:hover { background-position: 0 -21px; }
            }
            &.twitter {
                width: 29px;
                background-position: -34px 0;
                &:hover { background-position: -34px -21px; }
            }
            &.flickr {
                margin-right: 27px;
                width: 38px;
                background-position: -77px 0;
                &:hover { background-position: -77px -21px; }
            }

        }
    }
    @include respond-to( 'max-width: 500px' ) {
        nav.main {
            a {
                font-size: 13px;
                padding: 16px 0 8px 0;
                margin-left: 8px;
                &.categories {
                    margin-left: 18px;
                }
            }
        }
        nav.social {
            a {
                margin-right: 8px;
                &.flickr { margin-right: 23px; }
            }
        }
    }
}
.logo {
    margin-bottom: 31px;
    position: relative;
    img { max-width: 100%; }
    .category-label {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 56px;
        line-height: 1;
        top: 69%;
        text-transform: uppercase;
        &.eats { color: $eatscolor; }
        &.i-lost-my-head { color: $lmhcolor; }
    }
    &.eats {
        .category-label { color: $eatscolor; }
        .archive-label { background-color: $eatscolor; }
    }
    &.i-lost-my-head {
        .category-label { color: $lmhcolor; }
        .archive-label { background-color: $lmhcolor; }
    }
    .archive-label {
        position: absolute;
        right: 0;
        top: 75%;
        text-transform: uppercase;
        line-height: 1;
        padding: 0 18px 0 0;
        height: 34px;
        line-height: 34px;
        font-size: 26px;
        color: #393939;
        img { float: left; margin-right: 18px; }
        &.eats { background: $eatscolor; }
        &.i-lost-my-head { background: $lmhcolor; }
    }
    @include respond-to( 'max-width: 793px') {
        .archive-label { top: 12% }
        .category-label {
            font-size: 30px;
        }
    }
    @include respond-to( 'max-width: 420px' ) {
        .archive-label {
            font-size: 16px;
            padding-right: 8px;
            img { margin-right: 8px;}
        }
        .category-label {
            font-size: 24px;
            top: 60%;
        }
    }
}

.logo-bottom {
    height: 22px;
    background: url(../img/logo-bottom.png) bottom center no-repeat;
}

footer {
    height: 53px;
    position: relative;
    background: url(../img/header-bg.png) left 1px no-repeat;
    padding: 1px 0;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
    margin-bottom: 54px;
    .footer-rt {
        position: absolute;
        right: 0;
        top: 1px;
        width: 14px;
        height: 53px;
        background: url(../img/header-bg-rt.png) top left no-repeat;
    }

	.copyright {
        float: right;
		font-size: 12px;
		text-transform: uppercase;
		line-height: 52px;
		color: #FFF;
		margin-right: 27px;
		em { color: $brand6; }
		a { color: $brand6; }
		@include respond-to( 'max-width: 378px' ) {
		    margin: 0;
		    float: none;
		    text-align: center;
		    font-size: 10px;
		}
	}
}

// ================================== Post ====================================

.post {
    $postHeight: 46px;
    margin-bottom: 65px;
    position: relative;

    .post-header {
        background: #e7e8e9;
        margin-bottom: 18px;
        padding: 0 20px;
        .post-meta {
            float: left;
            border-right: 1px solid #FFF;
            margin-right: 20px;
            margin-left: -20px;
            text-align: right;
            text-transform: uppercase;
            line-height: 1;
            padding: 7px 18px 9px 44px;
            position: relative;
            height: $postHeight - 16px;
            img { position: absolute; top: 0; left: 0; }
            .post-category {
                font-size: 15px;
                color: #393939;
                padding-bottom: 4px;
            }
            .post-time {
                font-size: 13px;
                color: #FFF;
            }
            &.eats { background: $eatscolor; }
            &.i-lost-my-head { background: $lmhcolor; }
        }
        .post-title {
            line-height: $postHeight;
            color: #666666;
            font-size: 23px;
            text-transform: uppercase;
        }
    }
    .post-content {
        font-family: helvetica, arial, sans-serif;
        color: #666666;
        font-size: 12px;
        line-height: 1.9;
        p {
            margin: 0;
            line-height: 20px;
        }
    }
    .post-footer {
        position: relative;
        margin-top: 17px;
        background: url(../img/post-footer-line.png) center center no-repeat;
        height: 26px;
        font-size: 0;
        a.twitter {
            background: #F6F6F6 url(../img/footer-twitter.png) center center no-repeat;
            width: 27px;
            height: 26px;
            @include inline-block();
            padding-right: 9px;
        }
        a.facebook {
            background: #F6F6F6 url(../img/footer-facebook.png) center center no-repeat;
            width: 16px;
            height: 26px;
            @include inline-block();
            padding-right: 12px;
        }
    }
    a.more-link {
        font-family: 'automate';
        position: absolute;
        bottom: 1px;
        right: 0;
        background: #545454 url(../img/read-more-bg.png) center left no-repeat;
        height: 23px;
        color: $brand6;
        font-size: 12px;
        line-height: 23px;
        padding: 0 12px 0 23px;
        text-transform: uppercase;
        z-index: 1;
    }
    img {
        max-width: 100%;
        @include inline-block();
    }
    @include respond-to( 'max-width: 400px' ) {
        .post-header {
            .post-meta {
                padding: 4px 10px 5px 22px;
                img { margin-top: -3px;}
                .post-time {
                    font-size: 10px;
                }
            }
            .post-title {
                font-size: 18px;
                line-height: 40px;
            }
        }
    }
}

// ===================================== Single Post ==========================

.single-post {
    .post {
        margin-bottom: 48px;
    }
}

.post-navigation {
    text-align: center;
    font-size: 0;
    line-height: 23px;
    a {
        @include inline-block();
        vertical-align: top;
        height: 23px;
        line-height: 23px;
        text-transform: uppercase;
    }
    .post-placeholder { @include inline-block(); height: 23px; }
    .next-prev {
        margin-bottom: 40px;
        a {
            width: 89px - 15px;
            color: #FFF;
            font-size: 12px;
            text-align: center;
        }
        .post-placeholder { width: 89px; }
        a.next-post {
            background: url(../img/next-post.png) top left no-repeat;
            padding: 0 11px 0 4px;
        }
        a.previous-post {
            background: url(../img/previous-post.png) top left no-repeat;
            padding: 0 4px 0 11px;
        }
    }
    .post-names {
        margin-bottom: 40px;
        a {
            width: 40%;
            color: #ec038a;
            font-size: 14px;
            &.next-post { text-align: left; }
            &.previous-post { text-align: right; }
        }
        .post-placeholder {
            width: 40%;
            height: 1px;
        }
    }
    img { vertical-align: top; padding: 0 7px; }
}

// ===================================== About Page ===========================

.about-page {
    position: relative;
    margin-bottom: 31px;
    img { max-width: 100%; }
    p {
        position: absolute;
        left: 5%;
        top: 5%;
        color: #FFF;
        font-size: 56px;
        text-transform: uppercase;
        line-height: 1.2;
        margin: 0;
    }
    .about-links {
        position: absolute;
        top: 5%;
        right: 5%;
        .tcd-small {
            display: block;
            margin-bottom: 27px;
        }
        .lap, .lai {
            background-image: url(../img/la-logos.png);
            width: 72px;
            height: 71px;
            display: block;
            cursor: pointer;
            margin: 0 auto;
        }
        .lap {
            background-position: 0 0;
            margin-bottom: 12px;
            &:hover { background-position: 0 -71px; }
        }
        .lai {
            background-position: 0 -142px;
            &:hover { background-position: 0 -213px; }
        }
    }
    @include respond-to( 'max-width: 768px' ) {
        p { font-size: 45px; }
    }
    @include respond-to( 'max-width: 680px' ) {
        p { font-size: 30px; }
    }
    @include respond-to( 'max-width: 500px' ) {
        p {
            color: #393939;
            font-size: 30px;
        }
        .about-links {
            a.lap, a.lai, a.tcd-small {
                margin-bottom: 5px;
            }
            .tcd-small {
                img { width: 71px; }
            }
        }
    }
}