html, body { height: 100%; }

body {
	background: url(../img/bg.jpg) center top repeat;
	#page {
		//background: url(../img/bg-overlay.png) center top no-repeat;
		//min-height: 600px;
	}
}

a {
	color: $linkColor;
	text-decoration: none;
	&:hover { color: $linkHoverColor; }
}

em { font-style: normal; }

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

#page {
    max-width: $bodyWidth + 46px; // width of the two portfolio navigation widgets
    //padding: 0 23px;
    margin: 0 auto;
}

.container {
	@include bodyWidth();
	margin: 0 auto;
}

header {
	margin-bottom: 28px;
	#logo {
		width: 110px;
		height: 110px;
		background: url(../img/lap-logo.png) top left no-repeat;
		margin: 88px auto 0 auto;
		@include respond-to( handhelds ) {
			margin-top: 28px;
		}
	}
}
footer {
	@include bodyWidth();
	width: auto;
	margin: 23px auto 65px auto;
	height: 91px;
	position: relative;

	.footer-nav {
	    background: url(../img/footer-top-bg.png) center top no-repeat;
	    height: 62px;
	    position: relative;
	    overflow: hidden;
	}

	.footer-bottom {
	    background: url(../img/footer-bottom-bg.png) center top no-repeat;
	    height: 24px;
	    position: relative;
	    .nav-arrow {
            margin: 0 auto;
	        width: 49px;
	        height: 12px;
	        background-position: center top;
	        background-repeat: no-repeat;
	        background-image: url(../img/nav-arrow.png);
	        cursor: pointer;
	        &.collapsed {
                background-position: center 100%;
	        }
	    }
	}

	.social-label {
	    line-height: 60px;
	    color: $brand1;
	    font-size: 17px;
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    text-transform: uppercase;
        em {
            vertical-align: bottom;
            font-size: 45px;
            color: #FBFBFB;
            margin: 0 19px;
            font-weight: 100;
        }
	}

	.social {
		float: right;
		line-height: 62px;
		a {
			@include inline-block();
			background-position: top left;
			background-repeat: no-repeat;
			vertical-align: middle;
			margin-left: 24px;
			&.getty {
				width: 95px;
				height: 17px;
				background-image: url(../img/getty-icon.png);
			}
			&.twitter {
				width: 37px;
				height: 26px;
				background-image: url(../img/twitter-icon.png);
			}
			&.flickr {
				width: 45px;
				height: 20px;
				background-image: url(../img/flickr-icon.png);
			}
			&:hover {
				background-position: 0 100%;
			}
		}
		@include respond-to( handhelds ) {
			float: none;
			text-align: center;
			a { margin: 0 12px; }
		}
	}
	nav {
		float: left;
		line-height: 65px;
		font-size: 17px;
		a {
			text-transform: uppercase;
			margin-right: 11px;
			color: #666666;
			&:hover, &.current { color: $linkColor; }
		}
		@include respond-to( handhelds ) {
			float: none;
			text-align: center;
			a { margin: 0 6px; }
		}
	}
	.copyright {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 11px;
		text-transform: uppercase;
		color: #999999;
		em { color: $brand1; }
		@include respond-to( handhelds ) {
			position: static;
			text-align: center;
			margin-top: 40px;
		}
	}
}

// ============================= Contact Page =================================

@mixin hhform() {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	@include border-box();
}

.contact-page {
	$contactFormWidth: 342px;
	@include bodyWidth();
	position: relative;
	height: 583px;
	background: url(../img/contact.jpg) top center no-repeat;
	h1 {
		position: absolute;
		top: 58px;
		left: 44px;
		font-size: 49px;
		text-transform: uppercase;
		font-family: "museo-sans-rounded";
		font-weight: 100;
		color: #333333;
		margin: 0;
		line-height: 1;
		@include respond-to( handhelds ) {
			position: static;
			padding: 20px 0;
			text-align: center;
		}
	}
	.contact-form {
		float: right;
		margin-top: 51px;
		margin-right: 51px;
		width: $contactFormWidth;
		@include respond-to( handhelds ) {
			float: none;
			width: 100%;
			margin: 0;
		}
		p { margin: 0 0 11px 0; }
		input.wpcf7-text, textarea {
			display: block;
			margin: 0 0 11px 0;
			font-family: "ff-netto-web";
			background: #333333;
			color: #999999;
			text-transform: uppercase;
			line-height: 1.2;
			font-size: 18px;
			border: 0;
		}
		input.wpcf7-text {
			padding: 8px 15px;
			width: $contactFormWidth - ( 2 * 15px );
		}
		textarea {
			padding: 13px 15px;
			width: $contactFormWidth - ( 2 * 15px );
			height: 141px;
			margin: 0;
			@include respond-to( handhelds ) {
				@include border-box();
				width: 100%;
			}
		}
		input.wpcf7-text {
			@include respond-to( handhelds ) {
				@include hhform();
			}
		}
		.form-message {
			background: #666;
			@include respond-to( handhelds ) {
				@include hhform();
			}
		}
		input.wpcf7-submit {
			display: block;
			float: right;
			border: 0;
			font-family: 'ff-netto-web';
			text-transform: uppercase;
			font-size: 14px;
			color: #333;
			background: $brand1;
			line-height: 1;
			padding: 3px 12px;
		}
	}
	.about-content {
		background: url(../img/about-content-bg.jpg) top left repeat;
		padding: 15px;
		margin-top: 40px;
		@include respond-to( handhelds ) {
			@include hhform();
		}
		h2 {
			font-family: 'ff-netto-web';
			font-size: 18px;
			text-transform: uppercase;
			color: $brand1;
			line-height: 1;
			margin: 0 0 5px 0;
		}
		p {
			margin: 0;
			font-size: 13px;
			color: #cccccc;
		}
	}
}

// ========================== Portfolio Navigation ============================

.portfolio-page {
    width: 100%;
    max-width: 100%;
    table {
        width: 100%;
        td {
            padding: 0;
            &.slideshow { display: block; }
        }
        .portfolio-nav-container {
            width: 23px;
            vertical-align: middle;

            &.nav-left {
                a { background-image: url(../img/portfolio-nav-left.png); }
            }
            &.nav-right {
                a { background-image: url(../img/portfolio-nav-right.png); }
            }

            a {
                display: block;
                width: 23px;
                height: 177px;
                cursor: pointer;
                background-repeat: no-repeat;
                background-position: top center;
                &:hover { background-position: 0 100%; }
            }
        }
    }
}
nav.portfolio-sections {
	margin-top: 23px;
	a {
		float: left;
		width: 33%;
		margin-left: 0.3333333%;
		color: #999999;
		text-align: center;
		text-transform: uppercase;
		font-size: 28px;
		background: url(../img/portfolio-nav-bg.png) top left repeat;
		letter-spacing: 0.35em;
		line-height: 1;
		padding: 6px 0 6px 0;
		&:first-child {
			margin-left: 0;
		}
		&.current, &:hover {
			color: $brand1;
			background: url(../img/portfolio-nav-selected-bg.png) top left repeat;
		}
		@include respond-to( mediumscreens ) {
			letter-spacing: 0px;
		}
		@include respond-to( handhelds ) {
			float: none;
			display: block;
			width: 100%;
			margin-bottom: 5px;
		}
	}
}

// ================================ Portfolio Slat ============================

div.portfolio-slat {
	text-align: center;

	height: 157px;
	background-position: center 0;
	background-repeat: no-repeat;
	margin-bottom: 32px;
	position: relative;

	.portfolio-button-wrapper {
	    position: absolute;
	    bottom: -19px;
        width: 100%;
	}

	.portfolio-selection-button {
	    width: 172px;
	    height: 49px;
	    position: relative;
	    margin: 0 auto;

	    .grey-top, .grey-bottom { overflow: hidden; position: relative; }
        .grey-top {
            width: 172px;
            height: 30px;
            img {
                position: absolute;
                left: 0;
                bottom: -30px;
            }
        }
        .grey-bottom {
            width: 172px;
            height: 19px;
            img {
                position: absolute;
                left: 0;
                top: -19px;
            }
        }
        .yellow {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 172px;
            height: 19px;
            z-index: 1;
            img { display: block; }
        }
	}

	a {
	    display: block;
	    line-height: 153px;
    	height: 157px;
	    color: #FFF;
    	font-family: 'museo-sans-rounded';
    	font-weight: 100;
    	font-size: 99px;
    	text-transform: uppercase;
    	text-shadow: 0 0 3px rgba(0,0,0,0.3);

    	@include respond-to( mediumscreens ) {
    		font-size: 70px;
    	}
    	@include respond-to( handhelds ) {
    		font-size: 40px;
    		height: 60px;
    		line-height: 58px;
    		color: #999999;
    		margin-bottom: 5px;
    		&.personal, &.film, &.commercial {
    			background: url(../img/portfolio-nav-bg.png) top left repeat;
    		}
    	}
    	&:hover {
    		background-position: center 100%;
    		text-shadow: none;
    		background: #d3ac29;
    		background: rgba(211,172,41,.5);
    		@include respond-to( handhelds ) {
    			color: $brand1;
    			background: url(../img/portfolio-nav-selected-bg.png) top left repeat;
    		}
    	}
	}
}