.vision-board {
    border-collapse: separate;
    border-spacing: $defaultGutter/2;
    td {
        padding: $defaultGutter;
        vertical-align: top;
        width: 25%;
        @include box-shadow( rgba(0, 0, 0, .2) 0px 0px 3px );
        h2 {
            border-bottom: 1px solid $defaultBorderColor;
            margin-top: 0;
            padding-bottom: $defaultGutter;
        }
    }
}