// Variables

$brand1: #F60; /* orange */
$brand2: #222; /* grey */

$fontSize: 14px;
$fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyColor: $brand2;
$linkColor: $brand1 - #222;
$linkHoverColor: $linkColor - #222;

$background: #000;
$headerBackground: $brand2;

$footerHeight: 5px;
$footerPadding: 20px;

$defaultBorderColor: #222;

$navHeight: 30px;

/* ========================== General Elements ========================= */

html { height: 100%; }
body {
	height: 100%;
	color: $bodyColor;
	font-size: $fontSize;
	font-family: $fontFamily;
	background: $background;
}
a { text-decoration: underline; color: $linkColor; }
a:hover { color: $linkHoverColor; }
h1 { font-size: $fontSize + 18; }
h2 { font-size: $fontSize + 7; }
small { font-size: $fontSize - 2; }
em { font-style: italic; }

/* =================================== Layout ============================== */

#contentwrapper			{
	position: relative;
	min-height: 100%;
	max-width: 800px;
	margin: 0 auto;
}
#contentbody {

}

* html #contentwrapper	{ height: 100%; }

#footer {
	position: relative;
	height: $footerHeight;
	margin-top: 0 - $footerHeight;
	clear: both;
}

/* ========================= Header ========================= */

header {
	height: 200px;
	background: $headerBackground;
	margin-bottom: 70px;

	.diamond_border {
		$diamondsize: 35px;
		height: $diamondsize;
		width: $diamondsize;
		background: $headerBackground;
		-moz-transform:rotate(45deg);
		display: inline-block;
		margin-bottom: -126px;
		margin-right: 13px;
	}
}

/* ===================== Reusable ===================== */

.alignright { float: right; margin-left: 10px; }
.alignleft { float: left; margin-right: 10px; }

/* ========= Grid ========= */

$gridTransition: all .5s ease-in;
$backTransition: all .5s ease-out;

ul.grid {
	$defaultCellSize: 160px;
	position: relative;
	-moz-transition: $gridTransition;
	-webkit-transition: $gridTransition;

	&.flip_hide { -webkit-transform:rotateY(90deg); }

	li {
		float: left;
		display: block;
		width: $defaultCellSize;
		height: $defaultCellSize;
		position: relative;
		cursor: pointer;

		&.nav { background: $brand1; }
		&.post_link { background: #333;}
		&.work {
			overflow: hidden;
			background: #000;
			span { background: rgba(0,0,0,.7); width: 100%;}
			img { opacity: .3; }
			em { font-size: 50%; }
		}

		&.dbl {
			width: $defaultCellSize * 2;
			background: #111;
			span {
				em {
					font-style: normal;
					display: block;
					font-size: 80%;
				}
			}
		}

		span {
			display: block;
			position: absolute;
			padding: 5px;
			bottom: 0;
			right: 0;
			color: #FFF;
			font-weight: bold;
			font-size: 170%;
			text-shadow: 0 -1px 0 rgba(0,0,0,.5);
			text-align: right;
			small {
				display: block;
			}
		}

		img { max-width: 100%; }
	}
}
#backside {
	-moz-transition: $backTransition;
	-webkit-transition: $backTransition;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #444;
	-webkit-transform:rotateY(-90deg);
	&.flip_show { -webkit-transform:rotateY(0deg); }
}