@import 'compass/css3';

// Variables

$brand1: #ab227e; /* purple */
$brand2: #a9cd39; /* green */

$fontSize: 13px;
$fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyColor: #999999;
$linkColor: $brand1;
$linkHoverColor: $linkColor - #222;

$background: #d8d8d8;
$bodyContainerBg: #f7f7f7;
$contentGutter: 29px;

$headerHeight: 207px;
$headerBg: #434343;

$menuColor: #b8b8b8;
$menuHeight: 16px;

$footerHeight: 175px;
$footerPadding: 20px;

$defaultBorderColor: #CCC;

@mixin headerfont {
	font-family: 'pt-sans-narrow';
	text-transform: uppercase;
}

/* ========================== General Elements ========================= */

html { height: 100%; }
body {
	height: 100%;
	color: $bodyColor;
	font-size: $fontSize;
	line-height: 1.9;
	font-family: $fontFamily;
	background: $background;
}
a { text-decoration: underline; color: $linkColor; }
p { margin-bottom: 16px; }
a:hover { color: $linkHoverColor; }
h1, h2, h3, h4 {
	margin: 0 0 12px 0;
	line-height: 1;
}
h1 {
	font-size: 21px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 9px;
	color: #474747;
	@include headerfont();
	em { color: $brand2; }
}
h2 { font-size: $fontSize + 7; }
small { font-size: $fontSize - 2; }

/* =================================== Layout ============================== */

#contentbody {
	position: relative;
	z-index: 0;
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	background: #FFF;
	.content {
		overflow: hidden;
		position: relative;
	}
}

.container {
	width: 960px;
	margin: 0 auto;
}

/* ========================= Header ========================= */

#header {
	height: $headerHeight;
	background: $headerBg;

	.container {
		position: relative;
		z-index: 1;

		#logo-top {
			position: absolute;
			top: 0; right: 0;
		}

		#nav {
			padding-bottom: 32px;
			padding-top: 55px;
			#logo { float: left; }

			.menu {
				$navItemGutter: 22px;
				float: left;
				margin-top: 120px - $menuHeight;
				width: 840px;
				li {
					float: left;
					position: relative;

				}
				a {
					@include headerfont();
					color: $menuColor;
					font-size: 16px;
					text-decoration: none;
					line-height: $menuHeight;
					padding: 0 0 0 $navItemGutter;
					//font-weight: bold;
					cursor: pointer;
				}
				a:hover, .current_page_item a { color: $brand2; }

				ul {
					display: none;
					position: absolute;
					left: $navItemGutter - 10px;
					background: $headerBg;
					padding: 3px 10px 6px 10px;
					li {
						float: none;
						display: block;
						border-top: 1px solid #696969;
					    margin-top: 1px;
					    padding-top: 2px;
					}
					a {
						padding: 0;
					}
				}
			}

			li { display: inline; }
		}
	}
}

/* ==================== Footer ================= */

#footer {
	@include headerfont();
	text-transform: none;
	border-top: 2px solid $brand1;
	color: #999999;
	line-height: 60px;
	.container { position: relative; height: $footerHeight; }
	em { color: $brand1; }
	span { float: right; }
	img {
		vertical-align: middle;
		margin-left: 13px;
	}
}

/* ========================= General ======================== */

.alignright { float: right; margin-left: 10px; }
.alignleft { float: left; margin-right: 10px; }
h1.page-title {
	color: #474747;
	background: #d8d8d8;
	padding: 9px $contentGutter 11px $contentGutter;
	margin: 0;
}
h2.post-title {
	@include headerfont();
	color: $brand1;
	background: #efefef;
	overflow: hidden;
	font-size: 15px;
	line-height: 27px;
	margin: 0 0 21px 0;

	div {
		background: $brand2;
		float: left;
		padding: 0 14px;
		margin-right: 14px;
		text-transform: none;
		border-right: 1px solid #FFF;
	}
}
.post-edit-link {  }

// =================== Blog ===================

.post {
	font-size: 12px;
	padding-bottom: 25px;
	img.featured-image {
		margin-bottom: 18px;
	}
}

// ==================== Page =====================

.page {
	padding: $contentGutter - 5 $contentGutter;
}

#contentbody .resources-page.content {
	padding: 30px 0;
	.page {
		background: #F7F7F7;
		overflow: hidden;
	}
}

.resources {
	color: $brand1;
	float: left;
	width: 33%;
	margin-bottom: 21px;
	ul {
		list-style: disc inside;
	}
	a {
		font-size: 12px;
		color: #999999;
	}
	h3 {
		margin-top: 0;
		color: $brand1;
		@include headerfont();
		font-size: 16px;
	}
}

/* ================== Contact Form ================ */

table.contactform {

	td {
		padding: 3px;
		vertical-align: middle;
		height: 51px;

		&.label {
			text-align: right;
			padding-right: 8px;
			line-height: 1.5;
			width: 250px;
			vertical-align: middle;
		}

		&.submitrow {
			border-top: 1px solid #444;
			margin-top: 10px;
		}
	}

	.textbox, textarea { width: 369px; }
	.dropdown { width: 200px; }

	.textbox, textarea, .dropdown {
		background: #222;
		border: 1px solid #444;
		color: #FFF;
		padding: 3px;
		font-size: $fontSize - 1;

		&:focus {
			background: #333;
			border: 1px solid #555;
		}
	}
}

.button {
	text-shadow: 0px -1px 0px #333;
	color: #FFF;
	@include background( linear-gradient( top, #666, #444 ) );
	@include border-radius(4px);
	padding: 2px 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #777 #333 #333 #777;
	font-size: $fontSize - 1;
	float: right;
	cursor: pointer;
}
