@import 'reset';
@import 'config';

@mixin typekitfont ( $texttransform: false ) {
	font-family: 'pt-sans-narrow';
	@if $texttransform == upper {
		text-transform: uppercase;
	}
}

/* ========================== General Elements ========================= */

html { height: 100%; }
body {
	height: 100%;
	color: $bodyColor;
	font-size: $fontSize;
	line-height: 1.9;
	font-family: $fontFamily;
	background: $background;
}
a { text-decoration: underline; color: $linkColor; }
p { margin-bottom: 16px; }
a:hover { color: $linkHoverColor; }
h1, h2, h3, h4 {
	margin: 0 0 12px 0;
	line-height: 1;
}
h1 {
	font-size: 21px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 9px;
	color: #474747;
	@include typekitfont( upper );
	em { color: $brand2; }
	&.extra-bottom-margin {
		margin-bottom: 31px;
	}
}
h2 { font-size: $fontSize + 7; }
small { font-size: $fontSize - 2; }
em { color: $brand1; }

/* =================================== Layout ============================== */

#contentbody {
	position: relative;
	z-index: 0;
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	background: #FFF;
	.content {
		overflow: hidden;
		position: relative;
	}
}

.container {
	width: 960px;
	margin: 0 auto;
}

/* ========================= Header ========================= */

#header {
	height: $headerHeight;
	background: $headerBg;

	.container {
		position: relative;
		z-index: 1;

		#logo-top {
			position: absolute;
			top: 0; right: 0;
		}

		#nav {
			padding-bottom: 32px;
			padding-top: 55px;
			#logo { float: left; }

			.menu {
				$navItemGutter: 22px;
				float: left;
				margin-top: 120px - $menuHeight;
				width: 840px;
				li {
					float: left;
					position: relative;

				}
				a {
					display: block;
					@include typekitfont( upper );
					color: $menuColor;
					font-size: 16px;
					text-decoration: none;
					line-height: $menuHeight;
					padding: 0 0 0 $navItemGutter;
					//font-weight: bold;
					cursor: pointer;
				}
				a:hover, .current_page_item a { color: $brand2; }

				ul {
					display: none;
					position: absolute;
					left: $navItemGutter - 10px;
					background: $headerBg;
					padding: 3px 10px 6px 10px;
					li {
						float: none;
						display: block;
						border-top: 1px solid #696969;
					    margin-top: 1px;
					    padding-top: 2px;
					}
					a {
						padding: 0;
						line-height: 22px;
					}
				}
			}

			li { display: inline; }
		}
	}
}

/* ==================== Footer ================= */

#footer {
	@include typekitfont();
	border-top: 2px solid $brand1;
	color: #999999;
	line-height: 60px;
	.container { position: relative; height: $footerHeight; }
	em { color: $brand1; }
	span { float: right; }
	img {
		vertical-align: middle;
		margin-left: 13px;
	}
}

/* ========================= General ======================== */

.alignright { float: right; margin-left: 10px; }
.alignleft { float: left; margin-right: 10px; }
h1.page-title {
	color: #474747;
	background: #CCC;
	padding: 9px $contentGutter 11px $contentGutter;
	margin: 0;
}
h2.post-title {
	@include typekitfont( upper );
	color: $brand1;
	background: #efefef;
	overflow: hidden;
	font-size: 15px;
	line-height: 27px;
	margin: 0 0 21px 0;

	div {
		background: $brand2;
		float: left;
		padding: 0 14px;
		margin-right: 14px;
		text-transform: none;
		border-right: 1px solid #FFF;
	}
}
.post-edit-link {  }
.more-link { clear: right; float: right; }

// =================== Blog ===================

.post {
	padding-bottom: 25px;
	img.featured-image {
		margin-bottom: 18px;
	}
}

// ==================== Page =====================

.entry-content, .entry-content-em {
	padding: $contentGutter - 7 $contentGutter;
	overflow: hidden;
	&.thin-bottom { padding-bottom: $contentGutter - 25px;}
}

.entry-content-em { background: #F7F7F7; }

#contentbody .resources-page.content {
	padding: 30px 0;
	.page {
		background: #F7F7F7;
		overflow: hidden;
	}
}

.resources {
	color: $brand1;
	float: left;
	width: 33%;
	margin-bottom: 21px;
	ul {
		list-style: disc inside;
	}
	a {
		color: #999999;
	}
	h3 {
		margin-top: 0;
		color: $brand1;
		@include typekitfont( upper );
		font-size: 16px;
	}
}

.listing-types {
	color: #474747;
	background: #CCC;
	padding: 9px $contentGutter 11px $contentGutter;
	margin: 0;
	a {
		@include typekitfont( upper );
		color: #474747;
		font-size: 16px;
		text-decoration: none;
	}
}

.listings.content .entry-content {
	padding-bottom: 2px;
}

// ============================ Home Page =====================================

.current-image-container {
	background: #000;
}

// ============================= Contact Page =================================

$contactGutter: 20px;
$contactImageWidth: 377px;
@mixin contactcontent() {
	margin-left: $contactImageWidth + 1;
	padding-left: $contactGutter;
	padding-right: $contactGutter;
}

.contact-page {

	img { float: left; border-right: 1px solid #FFF; }
	h1 { @include contactcontent(); }
	.entry-content {
		padding-top: 13px;
		padding-bottom: 13px;
	}
	.contact-interior {
		overflow: hidden;
		background: #efefef;
	}
	label {
		color: $brand1;
		@include typekitfont( upper );
		width: 135px;
		font-size: 15px;
		line-height: 34px;
		margin-right: 15px;
		text-align: right;
		clear: left;
		float: left;
	}
	input, textarea {
		line-height: 34px;
		width: 237px;
		border: 0;
		background: #FFF;
		margin: 0 0 6px 0;
	}
	input {
		float: left;
		height: 34px;
		&.wpcf7-submit {
			@include typekitfont( upper );
			background: $brand2;
			color: $brand1;
			width: 105px;
			height: 27px;
			line-height: 25px;
			font-size: 15px;
			margin: 0 0 0 150px;
			float: none;
			clear: both;
		}
	}
	.wpcf7 p { overflow: hidden; margin: 0; clear: both; }
	.your-comments {
		float: left;
	}
	.your-comments-section {
		margin: 15px 0;
		overflow: hidden;
	}
	textarea {
		float: left;
		width: 312px;
		height: 113px;
	}
}

.about-page {
	img { padding-bottom: 30px; }
	.entry-content-em { margin-bottom: 34px;}
}

// =============================== Search Page ================================

.search-page {
	.entry-content-em { margin-bottom: 22px; }
	.form-fields {
		overflow: hidden;
		margin-bottom: 14px;
	}
	label {
		color: $brand1;
		@include typekitfont( upper );
		width: 135px;
		font-size: 15px;
		margin-right: 15px;
		text-align: right;
		clear: left;
		float: left;
	}
	.select-cutoff {
		//overflow: hidden;
		//width: 217px;
		float: left;
	}

	span {
		float: left;
		padding: 0 6px;
		@include typekitfont( upper );
		font-size: 15px;
	}
	select {
		display: inline-block;
		*display: inline; zoom: 1;
		margin-top: 5px;
	}
	button {
		@include typekitfont( upper );
		background: $brand2;
		color: $brand1;
		width: 105px;
		height: 27px;
		line-height: 25px;
		font-size: 15px;
		margin: 0 0 0 150px;
		cursor: pointer;
		display: block;
		clear: both;
		border: 0;
	}
	.no-listings {
		@include typekitfont();
		font-size: 15px;
		background: #F7F7F7;
		text-align: center;
		line-height: 40px;
	}
}

// ================= Listing Styles ====================

$slatGutter: 20px;
$slatImageWidth: 286px;
@mixin listingslatcontent() {
	margin-left: $slatImageWidth;
	padding-left: $slatGutter;
	padding-right: $slatGutter;
}

$slideshowImageWidth: 568px;
$slideshowGutter: 16px;
@mixin listingpagecontent() {
	margin-left: $slideshowImageWidth;
}

.listing-info-main {
	@include typekitfont();
	line-height: 40px;
	background: #d8d8d8;
	font-size: 17px;
	color: #474747;
	.price { float: right; }
}

.listing-sold {
	left: 0; top: 0;
    position: absolute;
	z-index: 10;
}

// ================== Single Listing Page ===================

.single-listing {
	.slideshow {
		float: left;
		width: $slideshowImageWidth;
		.current-image-container {
			margin-bottom: $slideshowGutter;
			position: relative;
			img {
				width: 568px;
				&.listing-sold { width: auto; }
			}
		}
		ul.thumbnails {
			font-size: 0;
			li {
				display: inline-block;
				*display: inline; zoom: 1;
				margin-right: $slideshowGutter;
				margin-bottom: $slideshowGutter;
				&.last { margin-right: 0; }
				img {
					width: 130px;
					cursor: pointer;
				}
			}
		}
	}
	.listing-info {
		@include listingpagecontent();
	}
	.listing-info-main, h2 {
		padding: 0 16px;
	}
	h2 {
		@include typekitfont( upper );
		color: $brand1;
		background: #efefef;
		font-size: 15px;
		padding: 12px 16px;
	}
	.listing-content {
		overflow: hidden;
		padding-left: 16px;
		dl { overflow: hidden; margin-bottom: 16px; }
		dt { font-weight: bold; float: left; clear: left; margin-right: 7px; }
		dd { float: left; }
	}
	button.contact {
		@include typekitfont( upper );
		border: 0;
		background: $brand2;
		color: $brand1;
		width: 78px;
		height: 27px;
		line-height: 25px;
		font-size: 15px;
		cursor: pointer;
		display: block;
		//clear: both;
		text-align: center;
		text-decoration: none;
		float: right;
		margin-bottom: 6px;
		margin-left: 6px;
	}
	.listing-navigation {
		@include typekitfont( upper );
		font-size: 15px;
		background: #d8d8d8;
		clear: right;
		padding: 15px;
		line-height: 15px;
		overflow: hidden;
		a {
			text-decoration: none;
			em { color: #474747;}
			&.next-post { float: right; }
			&.previous-post { float: left; }
		}
	}
}


// ================== Listing Slat =====================

.listing-slat {
	background: #ececec;
	overflow: hidden;
	position: relative;
	margin-bottom: 22px;

	.listing-info-main {
		@include listingslatcontent();
	}

	.featured-image {
		float: left;
		width: $slatImageWidth;
	}
	h2 {
		margin: 0;
		@include listingslatcontent();
		@include typekitfont( upper );
		line-height: 40px;
		font-size: 15px;
		background: #e4e4e4;
	}
	.listing-slat-content {
		@include listingslatcontent();
		padding-top: 15px;
	}
}