body {
	background: url(../img/bg.jpg) center top repeat;
	#page {
		background: url(../img/bg-overlay.png) center top no-repeat;
		min-height: 600px;
	}
}
header {
	#logo {
		width: 110px;
		height: 110px;
		background: url(../img/lap-logo.png) top left no-repeat;
		margin: 88px auto 0 auto;
	}
}