/* orange */
/* grey */
/* ========================== General Elements ========================= */
html { height: 100%; }

body { height: 100%; color: #222222; font-size: 14px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background: black; }

a { text-decoration: underline; color: #dd4400; }

a:hover { color: #bb2200; }

h1 { font-size: 32px; }

h2 { font-size: 21px; }

small { font-size: 12px; }

em { font-style: italic; }

/* =================================== Layout ============================== */
#contentwrapper { position: relative; min-height: 100%; max-width: 800px; margin: 0 auto; }

* html #contentwrapper { height: 100%; }

#footer { position: relative; height: 5px; margin-top: -5px; clear: both; }

/* ========================= Header ========================= */
header { height: 200px; background: #222222; margin-bottom: 70px; }
header .diamond_border { height: 35px; width: 35px; background: #222222; -moz-transform: rotate(45deg); display: inline-block; margin-bottom: -126px; margin-right: 13px; }

/* ===================== Reusable ===================== */
.alignright { float: right; margin-left: 10px; }

.alignleft { float: left; margin-right: 10px; }

/* ========= Grid ========= */
@-webkit-keyframes flipVertical { 0% { -webkit-transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(180deg); } }

@-webkit-keyframes flipHorizontal { 0% { -webkit-transform: rotateX(0deg); }
  100% { -webkit-transform: rotateX(180deg); } }

@-moz-keyframes flipVertical { 0% { -moz-transform: rotateY(0deg); }
  100% { -moz-transform: rotateY(180deg); } }

@-moz-keyframes flipHorizontal { 0% { -moz-transform: rotateX(0deg); }
  100% { -moz-transform: rotateX(180deg); } }

ul.grid { position: relative; -webkit-perspective: 1000px; -moz-perspective: 1000px; }
ul.grid li { float: left; display: block; width: 160px; height: 160px; position: relative; cursor: pointer; -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden; -moz-transform-style: preserve-3d; -moz-backface-visibility: hidden; }
ul.grid li.flipped-horizontal { -webkit-animation: flipHorizontal 1s ease-in; -webkit-animation-fill-mode: forwards; -moz-animation: flipHorizontal 1s ease-in; -moz-animation-fill-mode: forwards; }
ul.grid li.flipped-vertical { -webkit-animation: flipVertical 1s ease-in; -webkit-animation-fill-mode: forwards; -moz-animation: flipVertical 1s ease-in; -moz-animation-fill-mode: forwards; }
ul.grid li.nav { background: #ff6600; }
ul.grid li.post_link { background: #333; }
ul.grid li.work { overflow: hidden; background: #000; }
ul.grid li.work span { background: rgba(0, 0, 0, 0.7); width: 100%; }
ul.grid li.work img { opacity: .3; }
ul.grid li.work em { font-size: 50%; }
ul.grid li.dbl { width: 320px; background: #111; }
ul.grid li.dbl span em { font-style: normal; display: block; font-size: 80%; }
ul.grid li.full { position: absolute; width: 100%; height: 100%; }
ul.grid li span { display: block; position: absolute; padding: 5px; bottom: 0; right: 0; color: #FFF; font-weight: bold; font-size: 170%; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); text-align: right; }
ul.grid li span small { display: block; }
ul.grid li img { max-width: 100%; }

#backside { z-index: 1; position: absolute; top: 0; left: 0; width: 100%; background: #444; }
