/* purple */
/* green */
/* ========================== General Elements ========================= */
html { height: 100%; }

body { height: 100%; color: #999999; font-size: 13px; line-height: 1.9; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background: #d8d8d8; }

a { text-decoration: underline; color: #ab227e; }

p { margin-bottom: 16px; }

a:hover { color: #89005c; }

h1, h2, h3, h4 { margin: 0 0 12px 0; line-height: 1; }

h1 { font-size: 21px; border-bottom: 1px solid #ececec; padding-bottom: 9px; color: #474747; font-family: 'pt-sans-narrow'; text-transform: uppercase; }
h1 em { color: #a9cd39; }

h2 { font-size: 20px; }

small { font-size: 11px; }

/* =================================== Layout ============================== */
#contentbody { position: relative; z-index: 0; overflow: hidden; width: 960px; margin: 0 auto; background: #FFF; }
#contentbody .content { overflow: hidden; position: relative; }

.container { width: 960px; margin: 0 auto; }

/* ========================= Header ========================= */
#header { height: 207px; background: #434343; }
#header .container { position: relative; z-index: 1; }
#header .container #logo-top { position: absolute; top: 0; right: 0; }
#header .container #nav { padding-bottom: 32px; padding-top: 55px; }
#header .container #nav #logo { float: left; }
#header .container #nav .menu { float: left; margin-top: 104px; width: 840px; }
#header .container #nav .menu li { float: left; position: relative; }
#header .container #nav .menu a { font-family: 'pt-sans-narrow'; text-transform: uppercase; color: #b8b8b8; font-size: 16px; text-decoration: none; line-height: 16px; padding: 0 0 0 22px; cursor: pointer; }
#header .container #nav .menu a:hover, #header .container #nav .menu .current_page_item a { color: #a9cd39; }
#header .container #nav .menu ul { display: none; position: absolute; left: 12px; background: #434343; padding: 3px 10px 6px 10px; }
#header .container #nav .menu ul li { float: none; display: block; border-top: 1px solid #696969; margin-top: 1px; padding-top: 2px; }
#header .container #nav .menu ul a { padding: 0; }
#header .container #nav li { display: inline; }

/* ==================== Footer ================= */
#footer { font-family: 'pt-sans-narrow'; text-transform: uppercase; text-transform: none; border-top: 2px solid #ab227e; color: #999999; line-height: 60px; }
#footer .container { position: relative; height: 175px; }
#footer em { color: #ab227e; }
#footer span { float: right; }
#footer img { vertical-align: middle; margin-left: 13px; }

/* ========================= General ======================== */
.alignright { float: right; margin-left: 10px; }

.alignleft { float: left; margin-right: 10px; }

h1.page-title { color: #474747; background: #d8d8d8; padding: 9px 29px 11px 29px; margin: 0; }

h2.post-title { font-family: 'pt-sans-narrow'; text-transform: uppercase; color: #ab227e; background: #efefef; overflow: hidden; font-size: 15px; line-height: 27px; margin: 0 0 21px 0; }
h2.post-title div { background: #a9cd39; float: left; padding: 0 14px; margin-right: 14px; text-transform: none; border-right: 1px solid #FFF; }

.post { font-size: 12px; padding-bottom: 25px; }
.post img.featured-image { margin-bottom: 18px; }

.entry-content { padding: 24px 29px; }

#contentbody .resources-page.content { padding: 30px 0; }
#contentbody .resources-page.content .page { background: #F7F7F7; overflow: hidden; }

.resources { color: #ab227e; float: left; width: 33%; margin-bottom: 21px; }
.resources ul { list-style: disc inside; }
.resources a { font-size: 12px; color: #999999; }
.resources h3 { margin-top: 0; color: #ab227e; font-family: 'pt-sans-narrow'; text-transform: uppercase; font-size: 16px; }

/* ================== Contact Form ================ */
table.contactform td { padding: 3px; vertical-align: middle; height: 51px; }
table.contactform td.label { text-align: right; padding-right: 8px; line-height: 1.5; width: 250px; vertical-align: middle; }
table.contactform td.submitrow { border-top: 1px solid #444; margin-top: 10px; }
table.contactform .textbox, table.contactform textarea { width: 369px; }
table.contactform .dropdown { width: 200px; }
table.contactform .textbox, table.contactform textarea, table.contactform .dropdown { background: #222; border: 1px solid #444; color: #FFF; padding: 3px; font-size: 12px; }
table.contactform .textbox:focus, table.contactform textarea:focus, table.contactform .dropdown:focus { background: #333; border: 1px solid #555; }

.button { text-shadow: 0px -1px 0px #333333; color: #FFF; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #444444)); background: -webkit-linear-gradient(top, #666666, #444444); background: -moz-linear-gradient(top, #666666, #444444); background: -o-linear-gradient(top, #666666, #444444); background: -ms-linear-gradient(top, #666666, #444444); background: linear-gradient(top, #666666, #444444); -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; padding: 2px 20px; border-width: 1px; border-style: solid; border-color: #777 #333 #333 #777; font-size: 12px; float: right; cursor: pointer; }
