/* red */
/* grey */
/* ========================== General Elements ========================= */
html { height: 100%; }

body { height: 100%; color: #666666; font-size: 13px; line-height: 1.7; font-family: "dejarip", Helvetica, Arial, sans-serif; background: white; }

a { text-decoration: none; color: #b4061d; }

a:hover { color: #920000; }

h1, h2, h3, h4 { margin: 0 0 20px 0; color: #222222; }

h1 { font-size: 22px; }

h2 { font-size: 17px; }

h3 { font-size: 17px; }

small { font-size: 11px; }

em { color: #b4061d; font-style: normal; }

*::selection { background: #666666; color: #cccccc; }

*::-moz-selection { background: #666666; color: #cccccc; }

.edit-link { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 15px; }

/* =================================== Layout ============================== */
#contentbody { position: relative; z-index: 0; overflow: hidden; }
#contentbody .bodycontainer { padding: 0; width: 960px; margin: 0 auto; overflow: hidden; position: relative; }

#footer { position: relative; height: 44px; clear: both; }

.container { width: 960px; margin: 0 auto; }

.section { margin-bottom: 20px; overflow: hidden; }

/* ========================= Header ========================= */
#header { overflow: hidden; margin-bottom: 44px; }
#header .container { overflow: hidden; }
#header #nav { height: 140px; border-bottom: 4px solid #242424; overflow: hidden; position: relative; }
#header #nav .logo { position: absolute; height: 60px; left: 0; bottom: 18px; }
#header #nav .nav-menu { position: absolute; right: 0; bottom: 18px; height: 13px; }
#header #nav .nav-menu .menu-custom-menu-container, #header #nav .nav-menu a.twitter-logo { vertical-align: top; display: inline-block; *display: inline; zoom: 1; }
#header #nav .nav-menu a.twitter-logo { width: 17px; height: 12px; background-image: url(../img/twitter-sprite.png); background-position: 0 -19px; }
#header #nav .nav-menu a.twitter-logo:hover { background-position: 0 0; }
#header #nav .nav-menu .menu a { font-size: 18px; line-height: 16px; height: 13px; display: block; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; padding: 0 0 0 10px; color: #000; vertical-align: baseline; }
#header #nav .nav-menu .menu a:hover, #header #nav .nav-menu .menu .current_page_item a { color: #b4061d; }
#header #nav li { float: left; height: 13px; }
#header h1 { font-size: 18px; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; margin: 0; height: 44px; line-height: 46px; border-bottom: 1px dashed #888888; }

.interviews { margin: 0 auto 10px auto; overflow: hidden; }

.interview-slat { width: 184px; margin: 0 10px 10px 0; float: left; background: #777; position: relative; }
.interview-slat.last { margin-right: 0; }
.interview-slat.upnext img { opacity: .12; }
.interview-slat .interviewee-info { background: #d1d1d1; padding-bottom: 13px; padding-top: 15px; }
.interview-slat h3.featured-interview { position: absolute; top: 0; background: #b4061d; padding: 4px 0 1px 15px; width: 169px; color: #FFF; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 15px; }
.interview-slat h3.up-next { position: absolute; top: 0; width: 169px; background: #d1d1d1; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 22px; color: #222222; padding: 4px 0 1px 15px; top: 108px; }
.interview-slat h2, .interview-slat h3 { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; line-height: 1.1; margin: 0; padding: 3px 15px; font-size: 15px; }
.interview-slat h2 { color: #cccccc; }
.interview-slat h3.interviewee-title { height: 33px; }
.interview-slat img { width: 184px; }

/* ========================= Posts ======================== */
h2.entry-title { margin-bottom: 0; }

.featured { margin-bottom: 20px; }

.post-slat { clear: both; margin-bottom: 20px; background: #d1d1d1; overflow: hidden; position: relative; }
.post-slat h2, .post-slat h4 { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; line-height: 1.1; margin: 0; }
.post-slat h4 { color: #b4061d; }
.post-slat h2 { color: #cccccc; background: #666666; padding: 10px 20px 5px 20px; margin-bottom: 20px; font-size: 19px; }
.post-slat .cat-links { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 16px; color: #b4061d; padding: 10px 0 5px 20px; }
.post-slat .featured { float: left; margin-bottom: 0; }
.post-slat .featured img { max-width: 600px; }
.post-slat .summary { padding: 0 20px 20px 20px; }
.post-slat .more-link { color: #333; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; position: absolute; bottom: 20px; right: 20px; font-size: 15px; }

ul.post-links { background: #d1d1d1; padding: 10px; list-style-type: square; list-style-image: none; list-style-position: inside; overflow: hidden; }
ul.post-links li { color: #b4061d; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 18px; line-height: 1; float: left; margin-right: 20px; }
ul.post-links li a { color: #666666; vertical-align: middle; }
ul.post-links li a:hover { color: #b4061d; }

.alignright { float: right; margin-left: 10px; }

.alignleft { float: left; margin-right: 10px; }

/* ==================== Footer ================= */
#footer { height: 44px; margin-bottom: 44px; }
#footer a { text-decoration: none; }
#footer .container { border-top: 4px solid #242424; border-bottom: 1px dashed #888888; position: relative; height: 44px; line-height: 42px; }
#footer .container a.twitter, #footer .container a.email, #footer .container a.vv { display: inline-block; *display: inline; zoom: 1; height: 25px; background-image: url(../img/footer-logo-sprite.png); margin: 0 10px 0 0; vertical-align: middle; }
#footer .container a.twitter { background-position: 0 0; width: 23px; }
#footer .container a.twitter:hover { background-position: 0 -100%; }
#footer .container a.email { background-position: -34px 0; width: 24px; }
#footer .container a.email:hover { background-position: -34px -100%; }
#footer .container a.vv { background-position: -71px 0; width: 24px; }
#footer .container a.vv:hover { background-position: -71px -100%; }
#footer .container span { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 13px; display: inline-block; *display: inline; zoom: 1; }

#footer .footer-navigation { position: absolute; right: 0; top: 0; text-align: right; height: 44px; line-height: 44px; }
#footer .footer-navigation a { font-size: 15px; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; color: #222222; background: none; padding-left: 20px; vertical-align: middle; }

/* ========================= Post Display ========================= */
.entry-content { margin: 15px 0; overflow: hidden; }

p { margin: 0 0 10px 0; }

/* ========================= Content ========================== */
.content { width: 960px; position: relative; }
.content h1 { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; line-height: 1; background: #242424; }
.content h1 span { background: #FFF; color: #b4061d; display: inline-block; *display: inline; zoom: 1; padding-right: 10px; }
.content h1 span em { color: #222222; }
.content h1.check-out { background: #666666; }

.interview-header { background: url(../img/ihbg.gif) top left; color: #999999; overflow: hidden; position: relative; }
.interview-header img.featured { float: left; margin-bottom: 0; }
.interview-header .header-content { margin-left: 246px; padding: 40px; }
.interview-header .interviewee-wrapper { background: url(../img/ihbg-title.gif) top left; border: 1px solid #444; border: 1px solid rgba(255, 255, 255, 0.07); padding: 10px 15px; margin-bottom: 20px; }
.interview-header .interviewee-wrapper h2, .interview-header .interviewee-wrapper h3 { margin: 0; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; line-height: 1; }
.interview-header .interviewee-wrapper h2 { color: #b4061d; font-size: 25px; }
.interview-header .interviewee-wrapper h3 { color: #999999; font-size: 19px; }
.interview-header .read-interview { line-height: 1; position: absolute; bottom: 44px; right: 44px; font-size: 15px; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; color: #999999; }
.interview-header .read-interview em { color: #b4061d; }
.interview-header .read-interview:hover { color: #b4061d; }
.interview-header .social { position: absolute; bottom: 44px; right: 44px; }
.interview-header .social a { display: inline-block; *display: inline; zoom: 1; width: 38px; height: 27px; background-position: 0 0; background-repeat: no-repeat; }
.interview-header .social a.twitter { background-image: url(../img/twitter.png); }
.interview-header .social a.email { background-image: url(../img/email.png); margin-left: 15px; }
.interview-header .social a:hover { background-position: 0 100%; }

.upcoming-interview { background: #d1d1d1; padding: 10px; margin-right: 10px; width: 212.5px; float: left; }
.upcoming-interview h2, .upcoming-interview h3 { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; line-height: 1; margin: 0; }
.upcoming-interview h2 { color: #b4061d; }
.upcoming-interview h3 { font-size: 15px; }

h1.upcoming-interviews { background: #666666; }
h1.upcoming-interviews span { color: #222222; }

.previous-interviews { float: left; font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; height: 47px; line-height: 47px; width: 232.5px; border-top: 4px solid #242424; border-bottom: 1px solid #cccccc; text-align: center; font-size: 19px; color: #222222; }
.previous-interviews:hover { color: #b4061d; }

ul.links { background: #d1d1d1; padding: 20px; float: left; margin-right: 20px; }
ul.links li { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 18px; line-height: 1.3; }
ul.links li a { color: #666666; }
ul.links li a:hover { color: #b4061d; }

.interview h1 { margin-bottom: 39px; }
.interview h3 { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; font: #222222; line-height: 1; font-size: 19px; margin-bottom: 3px; }
.interview h3.answer { color: #b4061d; }
.interview p { margin-bottom: 21px; }
.interview img.left { margin: 0 39px 39px 0; }
.interview img.right { margin: 0 0 39px 39px; }
.interview img.full-width { display: block; width: 960px; margin: 0 0 39px 0; }
.interview blockquote { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; line-height: 1.2; text-transform: none; color: #222222; }
.interview blockquote p { margin: 0; }
.interview blockquote.left, .interview blockquote.right { width: 325px; font-size: 35px; }
.interview blockquote.left { margin: 0 39px 39px 0; }
.interview blockquote.right { margin: 0 0 39px 39px; text-align: right; }
.interview blockquote.full-width { clear: both; font-size: 47px; width: 960px; margin: 0 0 39px 0; }
.interview .caption { margin-top: -29px; font-size: 11px; font-style: italic; color: #666666; margin-bottom: 29px; width: 325px; line-height: 1.3; }
.interview .caption.left { text-align: left; margin-right: 39px; }
.interview .caption.right { text-align: right; margin-left: 39px; }
.interview .three-column { -moz-column-count: 3; -webkit-column-count: 3; -o-column-count: 3; column-count: 3; -moz-column-gap: 49px; -webkit-column-gap: 49px; -o-column-gap: 49px; column-gap: 49px; width: 100%; margin-bottom: 39px; }
.interview .larger-text { font-size: 16px; }
.interview .larger-text p { margin-bottom: 31px; }
.interview .bold-italic { font-style: italic; font-weight: bold; }
.interview .line-style-1, .interview .line-style-2, .interview .line-style-3 { height: 51px; }
.interview .line-style-1 { border-top: 3px solid #222222; }
.interview .line-style-2 { border-top: 1px solid #222222; }
.interview .line-style-3 { border-top: 1px dashed #222222; }
.interview .right { clear: right; float: right; }
.interview .left { clear: left; float: left; }
.interview .text-center { text-align: center; }
.interview .text-left { text-align: left; }
.interview .text-right { text-align: right; }
.interview .clear-left { clear: left; }
.interview .clear-right { clear: right; }
.interview .clear-both { clear: both; }

.not-found a { font-weight: normal; font-family: "alternate-gothic-no-3-d", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 15px; }
