/* ============================================================================= HTML5 Boilerplate CSS: h5bp.com/css ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.5; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }

::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a:focus { outline: 0; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 0; padding: 0; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ===== Primary Styles ======================================================== Author: ========================================================================== */
/* ============================================================================= Media Queries ========================================================================== */
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */ }
/* ============================================================================= Non-Semantic Helper Classes ========================================================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }

.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

/* ============================================================================= Print Styles ========================================================================== */
@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
.slideshow { height: 706px; overflow: hidden; position: relative; }
.slideshow ul { position: absolute; top: 0; left: 0; width: 100%; max-width: 960px; }
.slideshow ul li { width: 100%; }
.slideshow ul li img { width: 100%; }
.slideshow ul li.slideTransition { transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/ -moz-transition: all .5s ease-in-out; /** Firefox **/ -o-transition: all .5s ease-in-out; /** Opera **/ }

html, body { height: 100%; }

body { background: #f6f6f6; color: #444444; }

a { color: #3d9aff; text-decoration: none; }
a:hover { color: #1b78dd; }

em { font-style: normal; }

h1, h2, h3, h4, h5 { font-weight: normal; }

::-moz-selection { background: #3d9aff; color: black; }

::selection { background: #3d9aff; color: black; }

#page { max-width: 960px; margin: 0 auto; }

.container { max-width: 960px; margin: 0 auto; position: relative; }

header { height: 55px; position: relative; margin-bottom: -2px; background: url(../img/header-bg.png) top left no-repeat; }
header .header-rt { position: absolute; right: 0; top: 0; width: 14px; height: 55px; background: url(../img/header-bg-rt.png) top center no-repeat; }
header nav { width: 50%; }
header nav.main { float: left; position: relative; }
header nav.main a { display: inline-block; *display: inline; zoom: 1; font-size: 16px; text-transform: uppercase; color: #fff00a; margin-left: 27px; padding: 12px 0 8px 0; cursor: pointer; }
header nav.main a.categories { background: url(../img/yellow-arrow.png) bottom center no-repeat; }
header ul.cat-dropdown { position: absolute; left: 7px; top: 60px; display: none; }
header ul.cat-dropdown li { margin-bottom: 2px; padding: 0 10px 0 0; background: #393939; }
header ul.cat-dropdown li a { background: #393939; display: block; font-size: 14px; padding: 0 18px 0 18px; line-height: 20px; margin: 0; }
header ul.cat-dropdown li a.eats { color: #4abace; }
header ul.cat-dropdown li a.lost { color: red; }
header ul.cat-dropdown li a.other { color: #b700d7; }
header ul.cat-dropdown li a:hover { background: #FFF; }
header ul.cat-dropdown li:hover { background: url(../img/nav-bg.png) top right no-repeat; }
header nav.social { float: right; text-align: right; line-height: 21px; margin-top: 14px; font-size: 0; }
header nav.social a { display: inline-block; *display: inline; zoom: 1; height: 21px; background-image: url(../img/social-icons.png); background-repeat: no-repeat; margin-right: 15px; }
header nav.social a.instagram { width: 19px; background-position: 0 0; }
header nav.social a.instagram:hover { background-position: 0 -21px; }
header nav.social a.twitter { width: 29px; background-position: -34px 0; }
header nav.social a.twitter:hover { background-position: -34px -21px; }
header nav.social a.flickr { margin-right: 27px; width: 38px; background-position: -77px 0; }
header nav.social a.flickr:hover { background-position: -77px -21px; }

#logo { display: block; min-height: 392px; background: url(../img/tcd-logo.png) top left no-repeat; margin: 0 auto; }
@media only screen and (max-width: 480px) { #logo { margin-top: 28px; } }

footer { height: 53px; position: relative; background: url(../img/header-bg.png) left 1px no-repeat; padding: 1px 0; border-top: 1px solid #545454; border-bottom: 1px solid #545454; }
footer .footer-rt { position: absolute; right: 0; top: 1px; width: 14px; height: 53px; background: url(../img/header-bg-rt.png) top left no-repeat; }
footer .copyright { float: right; font-size: 12px; text-transform: uppercase; line-height: 52px; color: #FFF; margin-right: 27px; }
footer .copyright em { color: #fff00a; }
footer .copyright a { color: #fff00a; }

.page-container { max-width: 960px; margin: 0 auto; position: relative; }
.page-container article { margin-right: 16px; }
@media only screen and (max-width: 420px) { .page-container article { margin-right: 0; } }

.contact-page { max-width: 960px; position: relative; min-height: 724px; background: #333333 url(../img/contact.jpg) top center no-repeat; }
.contact-page h1 { position: absolute; left: 41px; bottom: 330px; font-size: 29px; color: #3d9aff; margin: 0; line-height: 1; text-transform: uppercase; }
.contact-page .contact-form { width: 271px; }
@media only screen and (max-width: 480px) { .contact-page .contact-form { float: none; width: 100%; margin: 0; } }
.contact-page .contact-form p { margin: 0 0 11px 0; }
.contact-page .contact-form input.wpcf7-text, .contact-page .contact-form textarea { display: block; margin: 0 0 11px 0; font-family: "proxima-nova-alt"; background: #3d3d3d; color: #cccccc; text-transform: uppercase; line-height: 1.2; font-size: 14px; border: 0; }
.contact-page .contact-form input.wpcf7-text { padding: 8px 15px; width: 241px; }
.contact-page .contact-form textarea { padding: 13px 15px; width: 241px; height: 141px; margin: 0; }
@media only screen and (max-width: 480px) { .contact-page .contact-form textarea { -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ width: 100%; padding: 10px 12px; } }
.contact-page .contact-form .wpcf7-form-control-wrap.your-message { display: block; padding-bottom: 18px; background: url(../img/message-bottom.png) bottom center no-repeat; }
@media only screen and (max-width: 480px) { .contact-page .contact-form input.wpcf7-text { width: 100%; margin-left: auto; margin-right: auto; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ padding: 5px 12px; } }
@media only screen and (max-width: 480px) { .contact-page .contact-form .form-message { width: 100%; margin-left: auto; margin-right: auto; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ } }
.contact-page .contact-form input.wpcf7-submit { display: block; width: 100%; text-align: center; border: 0; font-family: "proxima-nova-alt"; text-transform: uppercase; font-size: 14px; color: #333333; line-height: 1; background: none; }
.contact-page .contact-form .ajax-loader { display: none; }
.contact-page .wpcf7 { position: absolute; left: 41px; bottom: 16px; }
.contact-page .about-content { font-family: "proxima-nova-alt"; position: absolute; right: 57px; bottom: 34px; width: 271px; }
@media only screen and (max-width: 480px) { .contact-page .about-content { width: 100%; margin-left: auto; margin-right: auto; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ } }
.contact-page .about-content h2 { font-size: 19px; text-transform: uppercase; color: #3d9aff; line-height: 1; text-align: center; margin: 0; background: url(../img/about-bg.png) center bottom no-repeat; padding-bottom: 11px; }
.contact-page .about-content section { background: #666666; margin: 0; font-size: 12px; color: #cccccc; text-transform: uppercase; padding: 22px; }
@media only screen and (max-width: 651px) { .contact-page .contact-form { width: 100%; }
  .contact-page nav { width: 100%; text-align: center; top: 0; left: 0; position: static; margin-top: 20px; }
  .contact-page nav .nav-item { padding: 9px 0 6px; }
  .contact-page nav .nav-item a { color: #FFFFFF; font-size: 18px; text-shadow: 0 0 3px #000000; }
  .contact-page h1 { left: auto; bottom: auto; position: static; margin: 20px auto; width: 271px; text-align: left; }
  .contact-page .wpcf7, .contact-page .about-content { position: static; width: 271px; margin: 0 auto 20px auto; } }
