/* ============================================================================= HTML5 Boilerplate CSS: h5bp.com/css ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.5; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }

::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a:focus { outline: 0; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 0; padding: 0; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ===== Primary Styles ======================================================== Author: ========================================================================== */
/* ============================================================================= Media Queries ========================================================================== */
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */ }
/* ============================================================================= Non-Semantic Helper Classes ========================================================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }

.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

/* ============================================================================= Print Styles ========================================================================== */
@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
.slideshow { height: 706px; overflow: hidden; position: relative; }
.slideshow ul { position: absolute; top: 0; left: 0; width: 100%; max-width: 960px; }
.slideshow ul li { width: 100%; }
.slideshow ul li img { width: 100%; }
.slideshow ul li.slideTransition { transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/ -moz-transition: all .5s ease-in-out; /** Firefox **/ -o-transition: all .5s ease-in-out; /** Opera **/ }

html, body { height: 100%; }

body { background: #f6f6f6; color: #444444; }

a { color: #3d9aff; text-decoration: none; }
a:hover { color: #1b78dd; }

em { font-style: normal; }

h1, h2, h3, h4, h5 { font-weight: normal; }

::-moz-selection { background: #4abace; color: white; }

::selection { background: #4abace; color: white; }

#page { max-width: 960px; margin: 0 auto; }

.container { max-width: 960px; margin: 0 auto; position: relative; }

header { height: 55px; position: relative; margin-bottom: -2px; background: url(../img/header-bg.png) top left no-repeat; z-index: 1; }
header .header-rt { position: absolute; right: 0; top: 0; width: 14px; height: 55px; background: url(../img/header-bg-rt.png) top center no-repeat; }
header nav.main { float: left; position: relative; z-index: 1; }
header nav.main a { display: inline-block; *display: inline; zoom: 1; font-size: 16px; text-transform: uppercase; color: #fff00a; margin-left: 27px; padding: 12px 0 8px 0; cursor: pointer; }
header nav.main a.categories { background: url(../img/yellow-arrow.png) bottom center no-repeat; }
header nav.main a:hover { color: #FFF; }
header ul.cat-dropdown { position: absolute; left: 99px; top: 60px; display: none; }
header ul.cat-dropdown li { margin-bottom: 2px; padding: 0 10px 0 0; background: #393939; }
header ul.cat-dropdown li a { background: #393939; display: block; font-size: 14px; padding: 0 18px 0 18px; line-height: 20px; margin: 0; }
header ul.cat-dropdown li a.eats { color: #4abace; }
header ul.cat-dropdown li a.i-lost-my-head { color: #ee0f84; }
header ul.cat-dropdown li a.joie-de-vivre { color: red; }
header ul.cat-dropdown li a.other { color: #b700d7; }
header ul.cat-dropdown li a:hover { background: #FFF; }
header ul.cat-dropdown li:hover { background: url(../img/nav-bg.png) top right no-repeat; }
header ul.cat-dropdown li.searchitem { padding: 4px; }
header ul.cat-dropdown li.searchitem:hover { background: #393939; }
header nav.social { float: right; text-align: right; line-height: 21px; margin-top: 14px; font-size: 0; }
header nav.social a { display: inline-block; *display: inline; zoom: 1; height: 21px; background-image: url(../img/social-icons.png); background-repeat: no-repeat; margin-right: 15px; cursor: pointer; }
header nav.social a.instagram { width: 19px; background-position: 0 0; }
header nav.social a.instagram:hover { background-position: 0 -21px; }
header nav.social a.twitter { width: 29px; background-position: -34px 0; }
header nav.social a.twitter:hover { background-position: -34px -21px; }
header nav.social a.flickr { margin-right: 27px; width: 38px; background-position: -77px 0; }
header nav.social a.flickr:hover { background-position: -77px -21px; }
@media only screen and (max-width: 500px) { header nav.main a { font-size: 13px; padding: 16px 0 8px 0; margin-left: 5px; }
  header nav.main a.home-link { margin-left: 18px; }
  header nav.social a { margin-right: 5px; }
  header nav.social a.flickr { margin-right: 20px; }
  header ul.cat-dropdown { left: 63px; }
  header ul.cat-dropdown li a { padding: 0 5px; } }

.logo { margin-bottom: 31px; position: relative; }
.logo img { max-width: 100%; }
.logo .category-label, .logo .tag-label { position: absolute; top: 69%; left: 0; width: 100%; text-align: center; font-size: 56px; line-height: 1; text-transform: uppercase; }
.logo .category-label.eats, .logo .eats.tag-label { color: #4abace; }
.logo .category-label.i-lost-my-head, .logo .i-lost-my-head.tag-label { color: #ee0f84; }
.logo .category-label.joie-de-vivre, .logo .joie-de-vivre.tag-label { color: red; }
.logo .tag-label { color: #b700d7; }
.logo.eats .category-label, .logo.eats .tag-label { color: #4abace; }
.logo.eats .archive-label { background-color: #4abace; }
.logo.i-lost-my-head .category-label, .logo.i-lost-my-head .tag-label { color: #ee0f84; }
.logo.i-lost-my-head .archive-label { background-color: #ee0f84; }
.logo.joie-de-vivre .category-label, .logo.joie-de-vivre .tag-label { color: red; }
.logo.joie-de-vivre .archive-label { background-color: red; }
.logo .archive-label { position: absolute; right: 0; top: 75%; text-transform: uppercase; line-height: 1; padding: 0 18px 0 0; height: 34px; line-height: 34px; font-size: 26px; color: #393939; }
.logo .archive-label img { float: left; margin-right: 18px; }
.logo .archive-label.eats { background: #4abace; }
.logo .archive-label.i-lost-my-head { background: #ee0f84; }
.logo .archive-label.joie-de-vivre { background: red; }
@media only screen and (max-width: 793px) { .logo .archive-label { top: 12%; }
  .logo .category-label, .logo .tag-label { font-size: 30px; } }
@media only screen and (max-width: 420px) { .logo .archive-label { font-size: 16px; padding-right: 8px; }
  .logo .archive-label img { margin-right: 8px; }
  .logo .category-label, .logo .tag-label { font-size: 24px; top: 60%; } }
.logo .home-link { display: block; height: 49%; left: 34%; position: absolute; top: 11%; width: 32%; }

.logo-bottom { height: 22px; background: url(../img/logo-bottom.png) bottom center no-repeat; }

footer { height: 53px; position: relative; background: url(../img/header-bg.png) left 1px no-repeat; padding: 1px 0; border-top: 1px solid #545454; border-bottom: 1px solid #545454; padding-bottom: 54px; }
footer .footer-rt { position: absolute; right: 0; top: 1px; width: 14px; height: 53px; background: url(../img/header-bg-rt.png) top left no-repeat; }
footer .copyright { float: right; font-size: 12px; text-transform: uppercase; line-height: 52px; color: #FFF; margin-right: 27px; }
footer .copyright em { color: #fff00a; }
footer .copyright a { color: #fff00a; }
@media only screen and (max-width: 378px) { footer .copyright { margin: 0; float: none; text-align: center; font-size: 10px; } }

.post { margin-bottom: 65px; position: relative; }
.post .post-header { background: #e7e8e9; margin-bottom: 18px; padding: 0 20px; }
.post .post-header .post-meta { float: left; border-right: 1px solid #FFF; margin-right: 20px; margin-left: -20px; text-align: right; text-transform: uppercase; line-height: 1; padding: 7px 18px 9px 44px; position: relative; height: 30px; }
.post .post-header .post-meta img { position: absolute; top: 0; left: 0; }
.post .post-header .post-meta .post-category { font-size: 15px; color: #393939; padding-bottom: 4px; }
.post .post-header .post-meta .post-time { font-size: 13px; color: #FFF; }
.post .post-header .post-meta.eats { background: #4abace; }
.post .post-header .post-meta.i-lost-my-head { background: #ee0f84; }
.post .post-header .post-meta.joie-de-vivre { background: red; }
.post .post-header .post-title { line-height: 46px; color: #666666; font-size: 23px; text-transform: uppercase; }
.post .post-content { font-family: helvetica, arial, sans-serif; color: #666666; font-size: 12px; line-height: 1.9; }
.post .post-content p { margin: 0; line-height: 20px; }
@media only screen and (max-width: 960px) { .post .post-content p { margin: 0 15px; } }
.post .post-footer { position: relative; margin-top: 17px; background: url(../img/post-footer-line.png) center center no-repeat; height: 26px; font-size: 0; }
.post .post-footer a.twitter { background: #f6f6f6 url(../img/footer-twitter.png) center center no-repeat; width: 27px; height: 26px; display: inline-block; *display: inline; zoom: 1; padding-right: 9px; }
.post .post-footer a.facebook { background: #f6f6f6 url(../img/footer-facebook.png) center center no-repeat; width: 16px; height: 26px; display: inline-block; *display: inline; zoom: 1; padding-right: 12px; }
.post a.more-link { font-family: 'automate'; position: absolute; bottom: 1px; right: 0; background: #545454 url(../img/read-more-bg.png) center left no-repeat; height: 23px; color: #fff00a; font-size: 12px; line-height: 23px; padding: 0 12px 0 23px; text-transform: uppercase; z-index: 1; }
.post img { max-width: 100%; display: inline-block; *display: inline; zoom: 1; }
@media only screen and (max-width: 400px) { .post .post-header .post-meta { padding: 4px 10px 5px 22px; }
  .post .post-header .post-meta img { margin-top: -3px; }
  .post .post-header .post-meta .post-time { font-size: 10px; }
  .post .post-header .post-title { font-size: 18px; line-height: 40px; } }

.commentlist, .children { list-style: none; }

#comments { list-style: none; margin-top: 13px; }
#comments p { margin: 0; }
#comments .comment { margin-bottom: 13px; }
#comments .comment-meta { background: #E7E8E9; line-height: 1; line-height: 19px; }
#comments .comment-meta a { color: #666666; }
#comments .comment-meta a.comment-edit-link { float: right; margin-right: 5px; }
#comments .comment-author { float: left; border-right: 1px solid #FFF; color: #FFF; font-size: 13px; text-transform: uppercase; position: relative; padding: 0 10px; margin-right: 10px; }
#comments .comment-author a { color: #FFF; }
#comments .comment-author img { position: absolute; top: -13px; left: -8px; }
#comments .bypostauthor .comment-author { background: #FFF00A; color: #333; }
#comments .bypostauthor .comment-author a { color: #333; }
#comments .comment-body { clear: both; padding-top: 13px; }
#comments .comment-body p { margin-bottom: 13px; }
#comments ul.children { margin-left: 40px; }
#comments #respond h3 { text-transform: uppercase; color: #666666; background: #E7E8E9; font-size: 18px; line-height: 28px; font-family: "automate"; padding: 0 10px; }
#comments #respond h3 small { float: right; }
#comments #respond .comment-form-comment label { display: none; }
#comments #respond .comment-form-comment textarea { width: 50%; border: 0; padding: 10px; }
#comments #respond .form-allowed-tags { font-size: 11px; margin: 13px 0; }
#comments .comment-reply-link, #comments #submit { display: inline-block; *display: inline; zoom: 1; padding: 3px 8px; font-family: "automate"; text-transform: uppercase; color: #666666; background: #E7E8E9; border: 0; }
@media only screen and (max-width: 960px) { #comments { margin: 0 15px; } }

.eats .comment-author { background: #4abace; }

.i-lost-my-head .comment-author { background: #ee0f84; }

.joie-de-vivre .comment-author { background: red; }

.single-post .post { margin-bottom: 48px; }

.post-page-navigation, .post-navigation { text-align: center; font-size: 0; line-height: 23px; }
.post-page-navigation a, .post-navigation a { display: inline-block; *display: inline; zoom: 1; vertical-align: top; height: 23px; line-height: 23px; text-transform: uppercase; }
.post-page-navigation .post-placeholder, .post-navigation .post-placeholder { display: inline-block; *display: inline; zoom: 1; height: 23px; }
.post-page-navigation .post-names, .post-navigation .post-names { margin-bottom: 40px; }
.post-page-navigation .post-names a, .post-navigation .post-names a { width: 40%; color: #ec038a; font-size: 14px; }
.post-page-navigation .post-names a.next-post, .post-navigation .post-names a.next-post { text-align: left; }
.post-page-navigation .post-names a.previous-post, .post-navigation .post-names a.previous-post { text-align: right; }
.post-page-navigation .post-names .post-placeholder, .post-navigation .post-names .post-placeholder { width: 40%; height: 1px; }
.post-page-navigation img, .post-navigation img { vertical-align: top; padding: 0 7px; }

.post-navigation .next-prev { margin-bottom: 40px; }
.post-navigation .next-prev a { width: 74px; color: #FFF; font-size: 12px; text-align: center; }
.post-navigation .next-prev .post-placeholder { width: 89px; }
.post-navigation .next-prev a.next-post { background: url(../img/next-post.png) top left no-repeat; padding: 0 11px 0 4px; }
.post-navigation .next-prev a.previous-post { background: url(../img/previous-post.png) top left no-repeat; padding: 0 4px 0 11px; }

.post-page-navigation { margin-bottom: 65px; }
.post-page-navigation .next-page, .post-page-navigation .prev-page { display: inline-block; *display: inline; zoom: 1; width: 40%; font-size: 14px; }
.post-page-navigation .next-page a, .post-page-navigation .prev-page a { color: #ec038a; }
.post-page-navigation .next-page { text-align: right; }
.post-page-navigation .prev-page { text-align: left; }
.post-page-navigation .post-placeholder { width: 40%; height: 1px; }

.about-page { position: relative; margin-bottom: 31px; }
.about-page img { max-width: 100%; }
.about-page p { position: absolute; left: 5%; top: 5%; color: #FFF; font-size: 56px; text-transform: uppercase; line-height: 1.2; margin: 0; }
.about-page .about-links { position: absolute; top: 5%; right: 5%; }
.about-page .about-links .tcd-small { display: block; margin-bottom: 27px; }
.about-page .about-links .lap, .about-page .about-links .lai { background-image: url(../img/la-logos.png); width: 72px; height: 71px; display: block; cursor: pointer; margin: 0 auto; }
.about-page .about-links .lap { background-position: 0 0; margin-bottom: 12px; }
.about-page .about-links .lap:hover { background-position: 0 -71px; }
.about-page .about-links .lai { background-position: 0 -142px; }
.about-page .about-links .lai:hover { background-position: 0 -213px; }
@media only screen and (max-width: 768px) { .about-page p { font-size: 45px; } }
@media only screen and (max-width: 680px) { .about-page p { font-size: 30px; } }
@media only screen and (max-width: 500px) { .about-page p { color: #393939; font-size: 30px; }
  .about-page .about-links a.lap, .about-page .about-links a.lai, .about-page .about-links a.tcd-small { margin-bottom: 5px; }
  .about-page .about-links .tcd-small img { width: 71px; } }

.lt-ie8 .about-page .about-links { width: 180px; }

.archives { margin-bottom: 40px; }
.archives h1 { text-transform: uppercase; }
.archives ul { margin-left: 15px; }

#searchform input { display: block; font-size: 12px; border: 0; padding: 2px; width: 95%; margin: 0 auto; }

.tags { padding-bottom: 14px; }
.tags a { font-family: 'automate'; text-transform: uppercase; line-height: 1; display: inline-block; *display: inline; zoom: 1; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #fff00a; color: #333; padding: 2px 5px 4px 5px; }
.tags a:hover { color: #FFF; background: #b700d7; }
