/* ============================================================================= HTML5 Boilerplate CSS: h5bp.com/css ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }

::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a:focus { outline: 0; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 0; padding: 0; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ===== Primary Styles ======================================================== Author: ========================================================================== */
/* ============================================================================= Media Queries ========================================================================== */
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */ }
/* ============================================================================= Non-Semantic Helper Classes ========================================================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }

.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

/* ============================================================================= Print Styles ========================================================================== */
@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/* yellow */
/* green */
.slideshow { height: 582px; overflow: hidden; position: relative; }
.slideshow ul { position: absolute; top: 0; left: 0; width: 100%; max-width: 966px; padding: 0 23px; }
.slideshow ul li { width: 100%; }
.slideshow ul li img { width: 100%; }
.slideshow ul li.slideTransition { transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/ -moz-transition: all .5s ease-in-out; /** Firefox **/ -o-transition: all .5s ease-in-out; /** Opera **/ }

html, body { height: 100%; }

body { background: url(../img/bg.jpg) center top repeat; }

a { color: #bc9924; text-decoration: none; }
a:hover { color: #9a7702; }

em { font-style: normal; }

h1, h2, h3, h4, h5 { font-weight: normal; }

::-moz-selection { background: #bc9924; color: black; }

::selection { background: #bc9924; color: black; }

#page { max-width: 1012px; margin: 0 auto; }

.container { max-width: 966px; padding: 0 23px; margin: 0 auto; }

header { margin-bottom: 28px; }
header #logo { width: 110px; height: 110px; background: url(../img/lap-logo.png) top left no-repeat; margin: 88px auto 0 auto; }
@media only screen and (max-width: 480px) { header #logo { margin-top: 28px; } }

footer { max-width: 966px; padding: 0 23px; width: auto; margin: 23px auto 0 auto; padding-bottom: 65px; height: 91px; position: relative; }
@media only screen and (max-width: 480px) { footer { height: 151px; } }
footer .footer-nav { background: url(../img/footer-top-bg.png) center top no-repeat; height: 62px; position: relative; overflow: hidden; }
@media only screen and (max-width: 480px) { footer .footer-nav { height: auto; } }
footer .footer-bottom { background: url(../img/footer-bottom-bg.png) center top no-repeat; height: 24px; position: relative; }
footer .footer-bottom .nav-arrow { margin: 0 auto; width: 49px; height: 12px; background-position: center top; background-repeat: no-repeat; background-image: url(../img/nav-arrow.png); cursor: pointer; }
footer .footer-bottom .nav-arrow.collapsed { background-position: center 100%; }
footer .social-label { line-height: 60px; color: #bc9924; font-size: 17px; position: absolute; z-index: -1; top: 0; left: 0; width: 100%; text-align: center; text-transform: uppercase; }
footer .social-label em { vertical-align: bottom; font-size: 45px; color: #FBFBFB; margin: 0 19px; font-weight: 100; }
footer .social { float: right; line-height: 62px; }
footer .social a { display: inline-block; *display: inline; zoom: 1; background-position: top left; background-repeat: no-repeat; vertical-align: middle; margin-left: 24px; }
footer .social a.getty { width: 95px; height: 17px; background-image: url(../img/getty-icon.png); }
footer .social a.twitter { width: 37px; height: 26px; background-image: url(../img/twitter-icon.png); }
footer .social a.flickr { width: 45px; height: 20px; background-image: url(../img/flickr-icon.png); }
footer .social a:hover { background-position: 0 100%; }
@media only screen and (max-width: 480px) { footer .social { float: none; text-align: center; background: url(../img/footer-top-bg.png) center top no-repeat; }
  footer .social a { margin: 0 12px; } }
footer nav { float: left; line-height: 65px; font-size: 17px; }
footer nav a { text-transform: uppercase; margin-right: 11px; color: #666666; }
footer nav a:hover, footer nav a.current { color: #bc9924; }
@media only screen and (max-width: 480px) { footer nav { float: none; text-align: center; }
  footer nav a { margin: 0 6px; } }
footer .copyright { position: absolute; bottom: 0; right: 0; font-size: 11px; text-transform: uppercase; color: #999999; }
footer .copyright em { color: #bc9924; }
@media only screen and (max-width: 480px) { footer .copyright { width: 100%; text-align: center; bottom: -30px; } }

.contact-page { max-width: 966px; padding: 0 23px; position: relative; height: 583px; background: url(../img/contact.jpg) top center no-repeat; }
.contact-page h1 { position: absolute; top: 58px; left: 44px; font-size: 49px; text-transform: uppercase; font-family: "museo-sans-rounded"; font-weight: 100; color: #333333; margin: 0; line-height: 1; }
@media only screen and (max-width: 480px) { .contact-page h1 { position: static; padding: 20px 0; text-align: center; } }
.contact-page .contact-form { float: right; margin-top: 51px; margin-right: 51px; width: 342px; }
@media only screen and (max-width: 480px) { .contact-page .contact-form { float: none; width: 100%; margin: 0; } }
.contact-page .contact-form p { margin: 0 0 11px 0; }
.contact-page .contact-form input.wpcf7-text, .contact-page .contact-form textarea { display: block; margin: 0 0 11px 0; font-family: "museo-sans-rounded"; background: #333333; color: #999999; text-transform: uppercase; line-height: 1.2; font-size: 18px; border: 0; }
.contact-page .contact-form input.wpcf7-text { padding: 8px 15px; width: 312px; }
.contact-page .contact-form textarea { padding: 13px 15px; width: 312px; height: 141px; margin: 0; }
@media only screen and (max-width: 480px) { .contact-page .contact-form textarea { -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ width: 100%; padding: 10px 12px; } }
@media only screen and (max-width: 480px) { .contact-page .contact-form input.wpcf7-text { width: 100%; margin-left: auto; margin-right: auto; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ padding: 5px 12px; } }
.contact-page .contact-form .form-message { background: #666; }
@media only screen and (max-width: 480px) { .contact-page .contact-form .form-message { width: 100%; margin-left: auto; margin-right: auto; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ } }
.contact-page .contact-form input.wpcf7-submit { display: block; float: right; border: 0; font-family: "museo-sans-rounded"; text-transform: uppercase; font-size: 14px; color: #333; background: #bc9924; line-height: 1; padding: 3px 12px; }
.contact-page .about-content { background: url(../img/about-content-bg.jpg) top left repeat; padding: 15px; margin-top: 40px; font-family: "museo-sans-rounded"; }
@media only screen and (max-width: 480px) { .contact-page .about-content { width: 100%; margin-left: auto; margin-right: auto; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ margin-top: 11px; } }
.contact-page .about-content h2 { font-size: 18px; text-transform: uppercase; color: #bc9924; line-height: 1; margin: 0 0 5px 0; }
.contact-page .about-content p { margin: 0; font-size: 13px; color: #cccccc; }

.portfolio-page { width: 100%; max-width: 100%; }
.portfolio-page table { width: 100%; }
.portfolio-page table td { padding: 0; }
.portfolio-page table td.slideshow ul { display: block; position: relative; padding: 0; }
.portfolio-page table .portfolio-nav-container { width: 23px; vertical-align: middle; }
.portfolio-page table .portfolio-nav-container.nav-left a { background-image: url(../img/portfolio-nav-left.png); }
.portfolio-page table .portfolio-nav-container.nav-right a { background-image: url(../img/portfolio-nav-right.png); }
.portfolio-page table .portfolio-nav-container a { display: block; width: 23px; height: 177px; cursor: pointer; background-repeat: no-repeat; background-position: top center; }
.portfolio-page table .portfolio-nav-container a:hover { background-position: 0 100%; }
@media only screen and (max-width: 480px) { .portfolio-page table .portfolio-nav-container.nav-left a { background: url(../img/portfolio-mobile-arrow.png) top left no-repeat; }
  .portfolio-page table .portfolio-nav-container.nav-right a { background: url(../img/portfolio-mobile-arrow.png) top right no-repeat; }
  .portfolio-page table .portfolio-nav-container a { width: 22px; height: 90px; }
  .portfolio-page table .portfolio-nav-container a:hover { background-position-y: top; } }

nav.portfolio-sections { margin-top: 23px; }
nav.portfolio-sections a { float: left; width: 33%; margin-left: 0.3333333%; color: #999999; text-align: center; text-transform: uppercase; font-size: 28px; background: url(../img/portfolio-nav-bg.png) top left repeat; letter-spacing: 0.35em; line-height: 1; padding: 6px 0 6px 0; }
nav.portfolio-sections a:first-child { margin-left: 0; }
nav.portfolio-sections a.current, nav.portfolio-sections a:hover { color: #bc9924; background: url(../img/portfolio-nav-selected-bg.png) top left repeat; }
@media only screen and (min-width: 481px) and (max-width: 768px) { nav.portfolio-sections a { letter-spacing: 0px; font-size: 14px; } }
@media only screen and (max-width: 480px) { nav.portfolio-sections a { float: none; display: block; width: 100%; margin-bottom: 5px; font-size: 24px; } }

div.portfolio-slat { text-align: center; height: 157px; background-position: center center; background-repeat: no-repeat; margin-bottom: 32px; position: relative; }
@media only screen and (max-width: 480px) { div.portfolio-slat { height: auto; } }
div.portfolio-slat .portfolio-button-wrapper { position: absolute; bottom: -19px; width: 100%; }
div.portfolio-slat .portfolio-selection-button { width: 172px; height: 49px; position: relative; margin: 0 auto; }
div.portfolio-slat .portfolio-selection-button .grey-top, div.portfolio-slat .portfolio-selection-button .grey-bottom { overflow: hidden; position: relative; }
div.portfolio-slat .portfolio-selection-button .grey-top { width: 172px; height: 30px; }
div.portfolio-slat .portfolio-selection-button .grey-top img { position: absolute; left: 0; bottom: -30px; }
div.portfolio-slat .portfolio-selection-button .grey-bottom { width: 172px; height: 19px; }
div.portfolio-slat .portfolio-selection-button .grey-bottom img { position: absolute; left: 0; top: -19px; }
div.portfolio-slat .portfolio-selection-button .yellow { position: absolute; bottom: 0; left: 0; width: 172px; height: 19px; z-index: 1; }
div.portfolio-slat .portfolio-selection-button .yellow img { display: block; }
@media only screen and (max-width: 480px) { div.portfolio-slat .portfolio-selection-button { display: none; } }
div.portfolio-slat a { display: block; line-height: 153px; height: 100%; color: #FFF; font-family: 'museo-sans-rounded'; font-weight: 100; font-size: 99px; text-transform: uppercase; text-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
@media only screen and (min-width: 481px) and (max-width: 768px) { div.portfolio-slat a { font-size: 70px; } }
@media only screen and (max-width: 480px) { div.portfolio-slat a { font-size: 30px; line-height: 60px; text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); } }
div.portfolio-slat a:hover { background-position: center 100%; text-shadow: none; background: #d3ac29; background: rgba(211, 172, 41, 0.5); }
